@import url("../node_modules/overlayscrollbars/css/OverlayScrollbars.css");
@font-face {
  font-family: Poppins-Regular;
  src: url(./Poppins-Regular.ttf);
}
/* GLOBAL */
html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: Poppins-Regular;
  background-color: #F8F8FF;
}
@media only screen and (max-width: 1024px) {
  body {
    margin: auto;
  }
}

.outer {
  max-width: 992px;
  margin: auto;
}

.os-theme-dark.os-theme-dark-edgy > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
  background: #F07F31;
  min-height: 30px;
  max-height: 30px;
}

.os-theme-dark > .os-scrollbar > .os-scrollbar-track,
.os-theme-light > .os-scrollbar > .os-scrollbar-track {
  background: rgba(74, 83, 84, 0.1);
}

h3 {
  margin-left: 5%;
  color: #F07F31;
  font-size: 1.4em;
  position: relative;
}
@media only screen and (max-width: 1024px) {
  h3 {
    font-size: large;
  }
}
h3::before {
  border-top: 7.5px solid rgba(173, 250, 189, 0.4);
  position: absolute;
  content: "";
  top: -10px;
  left: 0;
  bottom: 0;
  right: 0;
  clip: rect(auto, 10px, auto, auto);
}

/* HEADER */
header {
  background-image: url(../images/template/handmade-paper.png);
  background-color: #4A5354;
  border-bottom: 8px solid #F8F8FF;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-blend-mode: multiply;
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 1024px) {
  header {
    flex-direction: column;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom: 4px solid #F8F8FF;
  }
}
header > a {
  padding: 0 10%;
}
@media only screen and (max-width: 1024px) {
  header > a {
    padding: 0;
  }
}
header > a div {
  width: 123px;
  height: 75px;
  background-image: url(../images/template/textonly.svg);
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 1024px) {
  header > a div {
    margin-left: 2.5%;
    height: 50px;
    background-position: center left;
    position: absolute;
    background-size: 70%;
    z-index: 0;
  }
}
header button {
  height: 0;
  width: 0;
  padding: 0;
  border: none;
  overflow: hidden;
}
@media only screen and (max-width: 1024px) {
  header button {
    background-image: url(../images/template/menu.png);
    width: 40px;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    position: relative;
    z-index: 1;
    margin: 5px auto;
  }
}
@media only screen and (max-width: 1024px) {
  header .disp {
    height: 0;
    width: 0;
    overflow: hidden;
  }
}
header nav {
  width: 100%;
}
header nav ul {
  margin: 0;
  padding: 0;
  letter-spacing: 0.75px;
  display: flex;
  flex-wrap: wrap;
}
header nav ul li {
  list-style-type: none;
  width: 25%;
}
@media only screen and (max-width: 1024px) {
  header nav ul li {
    width: 50%;
  }
}
header nav ul li a {
  display: flex;
  justify-content: space-between;
  padding: 5%;
  text-decoration: none;
  box-sizing: border-box;
  height: 75px;
  color: #f5fcfc;
  border-left: 4px solid #f5fcfc;
  position: relative;
  border-top: 1px solid #f5fcfc;
}
header nav ul li a:hover::after, header nav ul li a:focus::after {
  width: 100%;
}
header nav ul li a:hover, header nav ul li a:focus {
  color: #94b8b8;
}
@media only screen and (max-width: 1024px) {
  header nav ul li a:hover, header nav ul li a:focus {
    color: #F07F31;
  }
}
header nav ul li a span {
  align-self: flex-end;
}
header nav ul li a::after {
  content: "";
  position: absolute;
  top: 95%;
  right: 0;
  bottom: 2.5%;
  left: 0;
  background-color: #94b8b8;
  width: 0;
  transition: width 1s;
  transition-delay: 250ms;
  z-index: 999;
}
@media only screen and (max-width: 1024px) {
  header nav ul li a::after {
    background-color: #F07F31;
  }
}
@media only screen and (max-width: 1024px) {
  header nav ul li:nth-child(even) a {
    border-left: 1px solid #f5fcfc;
  }
}
@media only screen and (max-width: 1024px) {
  header nav ul li:nth-child(odd) a {
    border-left: none;
  }
}

/* MAIN */
main {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 27.5%;
}
main::after {
  content: "";
  background-image: url(../images/template/handmade-paper.png);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -999;
  background-color: #94b8b8;
  background-blend-mode: color;
  background-attachment: fixed;
}

.main-logo {
  position: relative;
  margin: 9% auto 3% 55.5%;
  width: 44.5%;
}
@media only screen and (max-width: 1024px) {
  .main-logo {
    margin: 6%;
    width: fit-content;
  }
}
.main-logo #my-svg {
  display: inline-block;
  overflow: visible;
  opacity: 0.75;
  width: 20.39%;
}
.main-logo #my-svg path {
  fill: none;
  stroke: #EEFFED;
  stroke-width: 2;
}
.main-logo h2 {
  font-style: oblique;
  margin: auto auto auto 2.5%;
  position: absolute;
  text-shadow: 0 0 2.5px #EEFFED;
  display: inline;
  color: #f5fcfc;
  font-family: Verdana, sans-serif;
  font-size: 1.6em;
}
@media only screen and (max-width: 1024px) {
  .main-logo h2 {
    height: 0;
    width: 0;
    overflow: hidden;
  }
}
.main-logo .main-logo-span {
  position: absolute;
  height: 14px;
  width: 205px;
  bottom: 45px;
  left: 100px;
  opacity: 0.75;
  background-image: url(../images/template/logo-main-underline.png);
  background-size: contain;
  background-repeat: no-repeat;
}
@media only screen and (max-width: 1024px) {
  .main-logo .main-logo-span {
    display: none;
  }
}

.template-img-cont {
  width: 250px;
  height: 250px;
  margin-left: 50px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-image: url(../images/template/natural-paper.png);
  background-blend-mode: darken;
  background-color: rgba(245, 252, 252, 0.75);
  padding: 50px;
  float: left;
}
@media only screen and (max-width: 1024px) {
  .template-img-cont {
    float: none;
    margin: auto;
    width: 168px;
    border-top-left-radius: unset;
    border-bottom-left-radius: unset;
    padding: 0;
    background-image: none;
    background-color: unset;
  }
}
.template-img-cont .template-img {
  background-position: center;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0.875;
}

.template-p-cont {
  height: 350px;
  width: 542px;
  float: left;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 25px;
  background-image: url(../images/template/natural-paper.png);
  background-color: rgba(245, 252, 252, 0.75);
  background-blend-mode: darken;
}
@media only screen and (max-width: 1024px) {
  .template-p-cont {
    float: none;
    width: 100%;
    height: 160px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top: 3px solid #F07F31;
    position: relative;
  }
}
.template-p-cont p.cont {
  margin: unset;
}
.template-p-cont .template-p {
  height: 40%;
  margin: 19.4% 0;
  padding: 0 40px;
  color: #2E86AB;
  text-align: right;
  font-size: large;
  word-wrap: break-word;
  overflow: hidden;
}
@media only screen and (max-width: 1024px) {
  .template-p-cont .template-p {
    text-align: center;
    height: calc(100% - 40px);
    margin: 10px auto;
    padding: 10px 5% 10px 5%;
    font-size: initial;
  }
}

.template-div {
  background-image: url(../images/template/div1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 15% auto;
  width: 60%;
  height: 109px;
  opacity: 0.5;
}
@media only screen and (max-width: 1024px) {
  .template-div {
    display: none;
  }
}

.template-div-mobile {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .template-div-mobile {
    display: block;
    background-image: url(../images/template/equal.png);
    height: 60px;
    width: 60px;
    margin: 12.5% auto;
    opacity: 0.875;
  }
}

.template-img-0 {
  background-color: rgba(148, 184, 184, 0.25);
  background-blend-mode: screen;
  border: 5px solid rgba(245, 252, 252, 0.75);
  background-repeat: no-repeat;
  background-position: center;
  height: fit-content;
  width: 80.041%;
  margin: auto;
  background-size: cover;
  border-radius: 25px;
  position: relative;
  padding: 25% 0;
}
.template-img-0 p,
.template-img-0 .circle-progress {
  display: flex;
  border-radius: 25px;
  flex-direction: column;
  justify-content: end;
  color: rgba(245, 252, 252, 0.75);
  position: absolute;
  top: 0;
  right: 2%;
  bottom: 0;
  left: 2%;
  transition: background-color 1s linear, opacity 1s linear, top 1s linear, right 1s linear, bottom 1s linear, left 1s linear;
}
@media only screen and (max-width: 720px) and (orientation: portrait) {
  .template-img-0 p,
.template-img-0 .circle-progress {
    border-radius: 10px;
  }
}
.template-img-0 p span,
.template-img-0 .circle-progress span {
  margin: 5% auto auto 5%;
  opacity: 0;
  transition: opacity 1s linear;
  max-width: 180px;
}
.template-img-0 p b,
.template-img-0 .circle-progress b {
  margin: auto auto 5% 5%;
  color: #2E86AB;
  background-color: rgba(245, 252, 252, 0.75);
  padding: 1% 2%;
  border-radius: 5px;
  width: fit-content;
}
.template-img-0:hover b, .template-img-0:focus b {
  color: rgba(245, 252, 252, 0.75);
  background-color: unset;
}
.template-img-0:hover .circle-progress, .template-img-0:focus .circle-progress, .template-img-0:hover p, .template-img-0:focus p {
  background-color: #2E86AB;
  opacity: 0.95;
  top: 8%;
  right: 8%;
  bottom: 8%;
  left: 8%;
}
.template-img-0:hover .circle-progress span,
.template-img-0:hover .circle-progress .slider,
.template-img-0:hover .circle-progress .percentage, .template-img-0:focus .circle-progress span,
.template-img-0:focus .circle-progress .slider,
.template-img-0:focus .circle-progress .percentage, .template-img-0:hover p span,
.template-img-0:hover p .slider,
.template-img-0:hover p .percentage, .template-img-0:focus p span,
.template-img-0:focus p .slider,
.template-img-0:focus p .percentage {
  opacity: 1;
}
@media only screen and (max-width: 1024px) {
  .template-img-0 {
    width: calc(65% - 10px);
    padding: 20% 0;
  }
}
@media only screen and (max-width: 720px) and (orientation: portrait) {
  .template-img-0 {
    border-radius: 0;
    width: 100%;
    padding: 31% 0;
    border-top: 3px solid rgba(245, 252, 252, 0.75);
    border-right: unset;
    border-bottom: unset;
    border-left: unset;
  }
}

/* FOOTER */
footer {
  height: 190px;
  background-image: url(../images/template/wave.svg);
  background-size: 100%;
  border-top: 8px solid #F8F8FF;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-repeat: no-repeat;
  display: flex;
  position: relative;
}
@media only screen and (max-width: 1024px) {
  footer {
    height: 125px;
    border-top: 4px solid #F8F8FF;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
footer::after {
  content: "";
  background-image: url(../images/template/handmade-paper.png);
  background-color: rgba(79, 79, 79, 0.9058823529);
  background-blend-mode: multiply;
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -999;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
@media only screen and (max-width: 1024px) {
  footer::after {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
footer ul {
  text-align: center;
  width: 47.5%;
  padding: 0;
  margin: 12% 9.4% 5% 44%;
  letter-spacing: 0.75px;
}
@media only screen and (max-width: 1024px) {
  footer ul {
    margin: 63px auto 24px auto;
    width: 100%;
  }
}
footer ul li {
  display: inline;
}
footer ul li a {
  color: #f5fcfc;
  margin: 0.75%;
  text-decoration: none;
  padding: 4px 10px;
}
@media only screen and (max-width: 1024px) {
  footer ul li a {
    color: rgba(245, 252, 252, 0.75);
    margin: 0;
    padding: 4px 0px;
    font-size: smaller;
  }
}
footer ul li a:hover, footer ul li a:focus {
  color: #94b8b8;
}
@media only screen and (max-width: 1024px) {
  footer ul li a:hover, footer ul li a:focus {
    color: #F07F31;
  }
}
footer ul li.sm {
  padding-right: 1%;
  opacity: 0.5;
}
@media only screen and (max-width: 1024px) {
  footer ul li.sm {
    display: block;
  }
}
footer ul li.sm h2 {
  font-size: small;
  color: #f5fcfc;
  font-style: oblique;
  opacity: 0.6;
  display: inline;
}

#s51 {
  background-image: url("../images/home/global.png");
}

#s52 {
  background-image: url("../images/home/furniture.jpg");
}

#s53 {
  background-image: url("../images/home/fas.jpg");
}

#s54 {
  background-image: url("../images/home/bus.jpg");
}

#s55 {
  background-image: url("../images/home/port.jpg");
}

#s56 {
  background-image: url("../images/home/candid.jpg");
}

#s57 {
  background-image: url("../images/home/stick.jpg");
}

#s58 {
  background-image: url("../images/home/news.jpg");
}

#s59 {
  background-image: url("../images/home/wp.jpg");
}

#s510 {
  background-image: url("../images/home/dave.jpg");
}

#s511 {
  background-image: url("../images/home/login.jpg");
}

#home-template-img {
  background-image: url(../images/home/home.png);
}

/* Scroll */
#site {
  position: relative;
}
#site #s4 {
  height: 350px;
  width: 542px;
  margin: auto auto auto 50px;
  float: left;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-image: url(../images/template/natural-paper.png);
  background-color: rgba(245, 252, 252, 0.75);
  background-blend-mode: darken;
}
@media only screen and (max-width: 1024px) {
  #site #s4 {
    position: relative;
    float: none;
    width: 95%;
    height: 140px;
    margin: auto;
    padding: 10px 0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 0;
  }
}
@media only screen and (max-width: 1023px) and (orientation: landscape) {
  #site #s4 {
    height: 120px;
  }
}
#site #s4 #ob0 {
  height: 60%;
  margin-top: 12.25%;
  color: #4193bc;
  text-align: left;
  font-size: large;
  word-wrap: break-word;
  position: absolute;
  top: 0;
  right: 5%;
  bottom: 0;
  left: 5%;
  z-index: 1;
}
@media only screen and (max-width: 1024px) {
  #site #s4 #ob0 {
    position: inherit;
    height: 100%;
    padding: 0 5%;
    margin: auto;
    font-size: initial;
    top: unset;
    right: unset;
    bottom: unset;
    left: unset;
  }
}
#site #s4 #ob0 #ob0ul {
  margin: 0;
  width: 50%;
  padding: 0 7px 0 40px;
  list-style-type: none;
}
@media only screen and (max-width: 1024px) {
  #site #s4 #ob0 #ob0ul {
    width: 87%;
    padding: 0;
  }
  #site #s4 #ob0 #ob0ul li ol {
    padding-left: 20px;
  }
  #site #s4 #ob0 #ob0ul li ol li h4 a {
    font-size: initial;
  }
}
#site #s4 #ob0 #ob0ul li img {
  display: block;
  margin: 10% 15%;
  opacity: 0.7;
}
@media only screen and (max-width: 1024px) {
  #site #s4 #ob0 #ob0ul li img {
    margin: 30px 10%;
    width: 55px;
    height: 55px;
  }
}
#site #s4 #ob0 #ob0ul ol li {
  padding-top: 20px;
}
#site #s4 #ob0 #ob0ul ol li h4 {
  margin: 5% 0;
}
#site #s4 #ob0 #ob0ul ol li h4 a {
  color: #24b14d;
  text-decoration: none;
  font-size: x-large;
}
#site #s4 #ob0 #ob0ul ol li h4 a:hover, #site #s4 #ob0 #ob0ul ol li h4 a:focus {
  text-decoration: underline;
}
#site #s5 {
  width: 250px;
  height: 250px;
  float: left;
  padding: 50px;
  position: relative;
  background-image: url(../images/template/natural-paper.png);
  background-color: rgba(245, 252, 252, 0.75);
  background-blend-mode: darken;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
@media only screen and (max-width: 1024px) {
  #site #s5 {
    float: none;
    margin: auto;
    padding: 10%;
    width: 75%;
    height: 100%;
    border-top-right-radius: 0;
    border-bottom-left-radius: 25px;
    border-top: 3px solid rgba(74, 83, 84, 0.1);
  }
}
@media only screen and (max-width: 1023px) and (orientation: landscape) {
  #site #s5 {
    padding: 25px;
    width: calc(95% - 50px);
  }
}
#site #s5 span {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}
@media only screen and (max-width: 1024px) {
  #site #s5 span {
    padding: 20%;
  }
}
@media only screen and (max-width: 1023px) and (orientation: landscape) {
  #site #s5 span {
    padding: 10%;
  }
}
@media only screen and (max-width: 720px) and (orientation: portrait) {
  #site #s5 span {
    padding: 35.7%;
  }
}
#site #s5 a {
  position: absolute;
  top: 5%;
  left: 5%;
  color: black;
  font-size: large;
}
@media only screen and (max-width: 1024px) {
  #site #s5 a {
    font-size: small;
    top: 2.5%;
  }
}
#site #s5 a:hover, #site #s5 a:focus {
  color: #F07F31;
  text-decoration: none;
}
#site #s5 #s51 {
  display: block;
}
#site #s5 #close {
  outline: none;
  background: transparent;
  position: absolute;
  top: 16px;
  right: 16px;
  border: 1px solid;
  opacity: 0.15;
  border-radius: 100%;
  padding: 2.5px 5px;
}
@media only screen and (max-width: 1024px) {
  #site #s5 #close {
    top: unset;
    bottom: 16px;
  }
}

#contact-template-img {
  background-image: url(../images/contact/contact.png);
}

#contact-template-img-0 {
  background-image: url(../images/contact/contimg.jpg);
}

#overlay {
  text-align: initial;
  margin: 9.5% 0;
  height: 71%;
}
@media only screen and (max-width: 1024px) {
  #overlay {
    width: calc(90% - 16px);
    height: calc(100% - 40px);
    margin: 10px auto;
  }
}
#overlay form .os-host-textarea {
  font: inherit;
  margin: 5px 0 0 0;
  font-size: inherit;
  border: 1px solid #2E86AB;
  border-bottom-right-radius: 5px;
  color: #2E86AB;
}
#overlay form fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
@media only screen and (max-width: 1024px) {
  #overlay form fieldset {
    padding: 0 5%;
  }
}
#overlay form fieldset legend {
  padding: 0;
  margin: 0;
  color: #F07F31;
}
#overlay form fieldset ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
#overlay form fieldset ul li {
  margin: auto;
  width: 100%;
  padding-bottom: 50px;
}
#overlay form fieldset ul li:nth-child(1), #overlay form fieldset ul li:nth-child(2) {
  width: 49.3%;
  display: inline-block;
}
@media only screen and (max-width: 1024px) {
  #overlay form fieldset ul li:nth-child(1), #overlay form fieldset ul li:nth-child(2) {
    width: 100%;
  }
}
#overlay form fieldset label {
  height: 50px;
  display: block;
}
#overlay form input {
  width: 100%;
  font-style: inherit;
  padding: 0 0 2px 1px;
  margin: 5px 0 0 0;
  border-bottom-right-radius: 5px;
  font: inherit;
  background-color: transparent;
  border: 1px solid #2E86AB;
  color: #2E86AB;
  outline: none;
}
#overlay form input::placeholder {
  color: #F07F31;
}
#overlay form #sent {
  text-align: center;
  height: 23px;
  display: none;
  margin: 0 auto;
}
#overlay form #sub {
  width: auto;
  display: block;
  margin: auto;
  padding: 0 10px;
  color: #24b14d;
  border-radius: 10px;
}
#overlay form .red {
  border-color: #D81159;
}
#overlay form .msg {
  color: #D81159;
  font-size: smaller;
  padding-left: 2.5px;
  display: block;
}

@media only screen and (max-width: 720px) and (orientation: portrait) {
  .circle-progress {
    border-radius: 10px;
  }
}
.circle-progress .slider {
  height: 100%;
  width: 90%;
  margin: auto;
  position: relative;
  display: flex;
  align-items: center;
  transition: opacity 1s linear;
  opacity: 0;
}
.circle-progress .slider img {
  border-radius: 100%;
  object-fit: cover;
  width: 150px;
  height: 150px;
}
.circle-progress .slider .button-next {
  position: absolute;
  background-color: transparent;
  outline: none;
  border: none;
  top: 7.5%;
  color: rgba(245, 252, 252, 0.75);
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
.circle-progress .slider .button-next:hover, .circle-progress .slider .button-next:focus {
  opacity: 0.5;
}
.circle-progress .slider .open-left {
  background-image: url(../images/contact/left.png);
  left: 2%;
}
.circle-progress .slider .open-right {
  background-image: url(../images/contact/right.png);
  right: 2%;
}
.circle-progress .slider .image-fill-right {
  z-index: 0;
  position: relative;
  margin: auto 12.5% auto 12.5%;
  width: 25%;
  height: initial;
}
@media only screen and (min-width: 1024px) {
  .circle-progress .slider .image-fill-right {
    position: absolute;
    margin: initial;
    z-index: -1;
    opacity: 0;
    width: initial;
  }
}
.circle-progress .slider .image-1 {
  z-index: 0;
  position: relative;
  display: none;
}
@media only screen and (min-width: 1024px) {
  .circle-progress .slider .image-1 {
    display: block;
  }
}
.circle-progress .slider .image-fill-left {
  right: 0;
  z-index: -1;
  opacity: 0;
  position: absolute;
  display: none;
}
@media only screen and (min-width: 1024px) {
  .circle-progress .slider .image-fill-left {
    display: block;
  }
}
.circle-progress .slider .image-2 {
  right: 0;
  z-index: 0;
  position: absolute;
  display: none;
}
@media only screen and (min-width: 1024px) {
  .circle-progress .slider .image-2 {
    display: block;
  }
}
.circle-progress .slider .inner {
  margin: auto;
  width: 50%;
}
@media only screen and (min-width: 1024px) {
  .circle-progress .slider .inner {
    width: 100%;
    margin: auto auto auto 2%;
  }
}
.circle-progress .slider .inner a {
  color: #EEFFED;
  text-decoration: none;
}
.circle-progress .slider .inner a:hover, .circle-progress .slider .inner a:focus {
  color: #94b8b8;
  text-decoration: underline solid;
}
.circle-progress .slider .static-count {
  display: none;
}

.percentage {
  height: 2px;
  position: relative;
  width: 90%;
  margin: 2% auto;
  transition: opacity 1s linear;
  opacity: 0;
  background-color: #F07F31;
}
.percentage .percentage-change {
  position: absolute;
  height: 2px;
  left: 0;
  background-color: #EEFFED;
}

#about-template-img {
  background-image: url(../images/about/about.png);
}

#about-template-img-0 {
  background-image: url(../images/about/aboutimg.jpg);
}

#skills-sass {
  width: 70px;
  height: 50px;
  background-image: url("../images/skills/sass.png");
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

#skills-htmlcssjs {
  width: 70px;
  height: 50px;
  background-image: url("../images/skills/htmlcssjs.png");
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

#skills-boot {
  width: 70px;
  height: 50px;
  background-image: url("../images/skills/boot.png");
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

#skills-foundation {
  width: 70px;
  height: 50px;
  background-image: url("../images/skills/foundation.png");
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

#skills-react {
  width: 70px;
  height: 50px;
  background-image: url("../images/skills/react.png");
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

#skills-angular {
  width: 70px;
  height: 50px;
  background-image: url("../images/skills/angular.png");
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

#skills-ux {
  width: 70px;
  height: 50px;
  background-image: url("../images/skills/ux.png");
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

#skills-photoshop {
  width: 70px;
  height: 50px;
  background-image: url("../images/skills/photoshop.png");
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

#skills-oop {
  width: 70px;
  height: 50px;
  background-image: url("../images/skills/oop.png");
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

#skills-mvc {
  width: 70px;
  height: 50px;
  background-image: url("../images/skills/mvc.png");
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

#skills-nodejs {
  width: 70px;
  height: 50px;
  background-image: url("../images/skills/nodejs.png");
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

#skills-php {
  width: 70px;
  height: 50px;
  background-image: url("../images/skills/php.png");
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

#skills-apache {
  width: 70px;
  height: 50px;
  background-image: url("../images/skills/apache.png");
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

#skills-nginx {
  width: 70px;
  height: 50px;
  background-image: url("../images/skills/nginx.png");
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

#skills-xml {
  width: 70px;
  height: 50px;
  background-image: url("../images/skills/xml.png");
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

#skills-ubuntu {
  width: 70px;
  height: 50px;
  background-image: url("../images/skills/ubuntu.png");
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

#skills-silverstripe {
  width: 70px;
  height: 50px;
  background-image: url("../images/skills/silverstripe.png");
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

#skills-wordpress {
  width: 70px;
  height: 50px;
  background-image: url("../images/skills/wordpress.png");
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

#skills-cloud {
  width: 70px;
  height: 50px;
  background-image: url("../images/skills/cloud.png");
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

#skills-sql {
  width: 70px;
  height: 50px;
  background-image: url("../images/skills/sql.png");
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

#skills-mongo {
  width: 70px;
  height: 50px;
  background-image: url("../images/skills/mongo.png");
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

#skills-git {
  width: 70px;
  height: 50px;
  background-image: url("../images/skills/git.png");
  background-size: contain;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

#skills-template-img {
  background-image: url(../images/skills/skills.png);
}

#skills-template-img-0 {
  background-image: url(../images/skills/skillsimg.jpg);
}

a[target=git] {
  color: #2E86AB;
  position: sticky;
  top: 10px;
  float: left;
}
a[target=git]:hover, a[target=git]:focus {
  color: #94b8b8;
}

.img {
  margin: 35px 0 35px 0;
}

.last-img {
  margin-right: 12.5px;
}
@media only screen and (max-width: 1024px) {
  .last-img {
    margin-right: 0;
  }
}

/* ANIMATION */
.vis0 {
  visibility: visible;
}

.vis1 {
  visibility: hidden;
}

header > a div {
  animation: fadeInOpacity 1.5s ease-in-out;
}

main::after {
  animation: fadeInBack 0.75s ease-in-out;
}

.template-img-0 .circle-progress .opacity {
  animation: opacity 1.5s;
}

@media only screen and (min-width: 1024px) {
  .template-img-0 .circle-progress .left {
    animation: leftcompact 0.75s;
    animation-fill-mode: forwards;
  }
}

@media only screen and (min-width: 1024px) {
  .template-img-0 .circle-progress .right {
    animation: rightcompact 0.75s;
    animation-fill-mode: forwards;
  }
}

.an {
  opacity: 1;
  animation: fadeInOpacity 0.75s ease-in;
}

.ani0 {
  animation: scale1 1.5s ease-in;
}

.ani {
  animation: scale2 0.5s;
}

.ani1 {
  animation: slideIn1 0.75s;
}

.ani2 {
  animation: fadeInBack 1.5s ease-in;
}

.ani3 {
  animation: scale4 1.5s ease-in-out;
}

.ani4 {
  animation: fadeInBack 1.5s ease-in;
  animation: scale1 1.5s ease-in;
}

.ani5.template-img-0 b {
  color: rgba(245, 252, 252, 0.75);
  background-color: unset;
}
.ani5.template-img-0 .circle-progress, .ani5.template-img-0 p {
  background-color: #2E86AB;
  opacity: 0.95;
  top: 8%;
  right: 8%;
  bottom: 8%;
  left: 8%;
}
.ani5.template-img-0 .circle-progress span,
.ani5.template-img-0 .circle-progress .slider,
.ani5.template-img-0 .circle-progress .percentage, .ani5.template-img-0 p span,
.ani5.template-img-0 p .slider,
.ani5.template-img-0 p .percentage {
  opacity: 1;
}

.ani6 {
  animation: slideIn2 0.75s;
}

.ani7 {
  animation: scale3 0.5s;
}

@keyframes fadeInBack {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  37.5% {
    opacity: 0.357;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  87.5% {
    opacity: 0.875;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideIn1 {
  0% {
    height: 0;
    opacity: 0;
  }
  85% {
    opacity: 0;
  }
  100% {
    height: 150px;
    opacity: 1;
  }
}
@keyframes slideIn2 {
  0% {
    height: 150px;
    opacity: 0;
  }
  100% {
    height: 0;
  }
}
@keyframes scale1 {
  0% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scale2 {
  0% {
    background-color: rgba(245, 252, 252, 0.75);
    border-radius: 100%;
    transform: scale(0.85);
  }
  100% {
    background-color: transparent;
    border-radius: 100%;
    transform: scale(1);
  }
}
@keyframes scale3 {
  0% {
    background-color: rgba(245, 252, 252, 0.75);
    border-radius: 100%;
    transform: scale(0.85);
  }
  100% {
    background-color: transparent;
    border-radius: 100%;
    transform: scale(1);
  }
}
@keyframes scale4 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes rightcompact {
  0% {
    z-index: 1;
    opacity: 1;
    left: 0;
  }
  100% {
    z-index: 1;
    opacity: 1;
    left: calc(100% - 150px);
  }
}
@keyframes leftcompact {
  0% {
    z-index: 1;
    opacity: 1;
    right: 0;
  }
  100% {
    z-index: 1;
    opacity: 1;
    right: calc(100% - 150px);
  }
}
@keyframes opacity {
  0% {
    z-index: 1;
    opacity: 1;
  }
  50% {
    z-index: 1;
    opacity: 0;
  }
  100% {
    z-index: 1;
    opacity: 1;
  }
}

/*# sourceMappingURL=app.css.map */
