@import url("../node_modules/overlayscrollbars/css/OverlayScrollbars.css");
#s51 {
  background-image: url("../images/home/global.png");
}

#s52 {
  background-image: url("../images/home/bus.jpg");
}

#s53 {
  background-image: url("../images/home/wp.jpg");
}

#s54 {
  background-image: url("../images/home/pff.jpg");
}

#s55 {
  background-image: url("../images/home/acc.jpg");
}

#s56 {
  background-image: url("../images/home/stick.jpg");
}

#s57 {
  background-image: url("../images/home/candid.jpg");
}

#s58 {
  background-image: url("../images/home/port.jpg");
}

#s59 {
  background-image: url("../images/home/login.jpg");
}

.template-img {
  background-image: url(../images/home/home.png);
  background-position: center;
  height: 100%;
}

#home-div {
  display: none;
}
@media only screen and (max-width: 1024px) {
  #home-div {
    display: block;
    background-image: url(../images/home/equal.png);
    height: 60px;
    width: 60px;
    margin: 8.7% auto;
    opacity: 0.65;
  }
}

@media only screen and (max-width: 1024px) {
  div.template-div {
    display: none;
  }
}
/* Scroll */
#s4 {
  height: 280px;
  width: calc(992px - 46.026%);
  margin: 4% auto auto calc(987px - 95%);
  float: left;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-image: url(../images/template/natural-paper.png);
  background-color: rgba(238, 238, 229, 0.948);
  position: relative;
  z-index: 999;
}
@media only screen and (max-width: 1024px) {
  #s4 {
    float: none;
    width: 100%;
    height: 140px;
    margin: auto;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
#s4 #close {
  float: right;
  margin: 5.5% 6.5% 0 0;
  padding: 2.5px 5px;
  font-size: x-small;
  color: black;
  border: 1px solid black;
  border-radius: 100px;
  opacity: 0.15;
}
@media only screen and (max-width: 1024px) {
  #s4 #close {
    float: none;
    position: absolute;
    z-index: 99;
    right: 25px;
    bottom: -35px;
    margin: 0;
  }
}
@media only screen and (min-width: 480px) and (max-width: 1024px) {
  #s4 #close {
    bottom: auto;
    top: 15px;
  }
}
#s4 #ob0 {
  overflow: hidden;
  height: 50%;
  margin: 13% 0;
  position: relative;
  color: #4193bc;
  text-align: left;
  font-size: large;
  word-wrap: break-word;
}
@media only screen and (max-width: 1024px) {
  #s4 #ob0 {
    height: calc(100% - 20px);
    margin: 10px 0;
    padding: 0 5%;
    top: 10px;
    font-size: initial;
  }
}
#s4 #ob0 #ob0ul {
  margin: 0;
  padding: 0 7px 0 40px;
  list-style-type: none;
}
@media only screen and (max-width: 1024px) {
  #s4 #ob0 #ob0ul {
    padding: 0;
  }
  #s4 #ob0 #ob0ul ol li h4 {
    font-size: large;
  }
}
#s4 #ob0 #ob0ul h4 {
  margin: 2% 0;
  padding: 0;
  color: #24b14d;
  font-size: x-large;
}

#s5 {
  width: calc(992px - 73.991%);
  height: 250px;
  float: right;
  padding: 5%;
  border: 5px solid rgba(238, 238, 229, 0.948);
  margin-right: calc(987px - 95%);
  position: relative;
}
@media only screen and (max-width: 1024px) {
  #s5 {
    float: none;
    width: 90%;
    height: auto;
    margin: auto;
    right: 0;
    border-top: none;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
    border-right: 0;
  }
}
#s5 span {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}
@media only screen and (max-width: 1024px) {
  #s5 span {
    background-size: 47%;
    padding: 23%;
  }
}
#s5 a {
  position: absolute;
  top: 10px;
  left: 30px;
  color: black;
  font-size: x-large;
}
@media only screen and (max-width: 1024px) {
  #s5 a {
    top: 5px;
    font-size: small;
  }
}
@media only screen and (max-width: 320px) {
  #s5 a {
    top: 2.5px;
  }
}
@media only screen and (max-width: 240px) {
  #s5 a {
    top: 0;
  }
}
#s5 a:hover, #s5 a:focus {
  color: rgba(238, 238, 229, 0.948);
  text-decoration: none;
}
@media only screen and (min-width: 480px) and (max-width: 1024px) {
  #s5 {
    width: calc(40% - 10px);
    border-left: 5px solid rgba(238, 238, 229, 0.948);
    border-right: 5px solid rgba(238, 238, 229, 0.948);
  }
}
#s5 #s51 {
  display: block;
}

/* GLOBAL */
html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: Tahoma, sans-serif;
  background-color: mintcream;
  overflow: auto;
}

.outer {
  max-width: 992px;
  margin: auto;
}

nav ul,
footer ul {
  letter-spacing: 0.75px;
}

nav ul li,
footer ul li {
  display: inline;
}

.button:hover,
footer ul li a:hover,
.button:focus,
footer ul li a:focus {
  color: #ff7f26;
}

.os-theme-dark.os-theme-dark-edgy > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
  background: #ff7f26;
  min-height: 30px;
  max-height: 30px;
}

.os-theme-dark > .os-scrollbar > .os-scrollbar-track, .os-theme-light > .os-scrollbar > .os-scrollbar-track {
  background: rgba(74, 83, 84, 0.1);
}

h3 {
  margin-left: 5%;
  color: rgba(255, 127, 38, 0.9);
  font-size: 1.4em;
  position: relative;
}
@media only screen and (max-width: 1024px) {
  h3 {
    font-size: large;
  }
}
h3::before {
  border-top: 7.5px solid rgba(202, 255, 213, 0.4);
  position: absolute;
  content: "";
  top: -10px;
  left: 0;
  bottom: 0;
  right: 0;
  clip: rect(auto, 10px, auto, auto);
}

/* HEADER */
header {
  background-image: url(../images/template/handmade-paper.png);
  background-color: #4A5354;
  border-bottom: 8px solid mintcream;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
}
@media only screen and (max-width: 1024px) {
  header {
    padding: 10px 0;
    flex-direction: column;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
header > span {
  height: 75px;
  width: 260px;
  margin-left: 5%;
  background-image: url(../images/template/logotext.png);
  position: relative;
}
@media only screen and (max-width: 1024px) {
  header > span {
    display: none;
  }
}
header > span + span {
  display: none;
}
@media only screen and (max-width: 1024px) {
  header > span + span {
    display: block;
    margin: auto;
    width: 123px;
    background-image: url(../images/template/textonly.png);
    position: relative;
  }
}
header button {
  display: none;
}
@media only screen and (max-width: 1024px) {
  header button {
    display: block;
    background-image: url(../images/template/menu.png);
    width: 40px;
    height: 40px;
    background-color: transparent;
    padding: 0;
    border: none;
    margin: auto auto 15px auto;
    cursor: pointer;
    outline: none;
  }
}
@media only screen and (max-width: 1024px) {
  header .disp {
    display: none;
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: calc(95% - 260px);
}
@media only screen and (max-width: 1024px) {
  nav {
    width: 100%;
  }
}
nav ul {
  padding: 2% 0 0 0;
  margin: 0;
  width: 85%;
  text-align: center;
}
@media only screen and (max-width: 1024px) {
  nav ul {
    width: 100%;
    padding: 0;
  }
}
nav ul .button {
  width: 17%;
  cursor: pointer;
  display: inline-block;
  color: rgba(238, 238, 229, 0.948);
}
@media only screen and (max-width: 1024px) {
  nav ul .button {
    min-width: 140px;
    width: 31%;
    margin: 1%;
    border: 1px solid rgba(238, 238, 229, 0.948);
    color: #caffd5;
    font-size: smaller;
  }
}
nav ul .button .label {
  display: inline-block;
  padding: 10px;
}
nav ul .button h1 {
  font-size: inherit;
  margin: 0;
  padding: 0;
  font-weight: 500;
}
nav a {
  text-decoration: none;
}

/* MAIN */
main {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 27.5%;
}
@media only screen and (max-width: 480px) {
  main {
    padding-bottom: 34%;
  }
}
main::after {
  content: "";
  background-image: url(../images/template/paper-fibers.png);
  background-color: #6acbd7;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -999;
}

.main-logo {
  position: relative;
  margin: 9% auto 3% 55.5%;
  width: 44.5%;
}
@media only screen and (max-width: 1024px) {
  .main-logo {
    margin-left: 7.5%;
    width: 92.5%;
  }
}
.main-logo #my-svg {
  display: inline-block;
}
.main-logo #my-svg,
.main-logo span svg {
  width: 90px;
  height: 90px;
}
@media only screen and (max-width: 1024px) {
  .main-logo #my-svg,
.main-logo span svg {
    width: 55px;
    height: 55px;
  }
}
.main-logo h2 {
  font-style: oblique;
  margin: auto auto auto 2.5%;
  position: absolute;
  text-shadow: 0 0 2.5px #EEFFED;
  display: inline;
  color: #ff7f26;
  font-size: 1.8em;
}
@media only screen and (max-width: 1024px) {
  .main-logo h2 {
    font-size: x-large;
    text-shadow: none;
  }
}
@media only screen and (max-width: 320px) {
  .main-logo h2 {
    font-size: medium;
  }
}
@media only screen and (max-width: 240px) {
  .main-logo h2 .main-logo h2 {
    font-size: smaller;
  }
}
.main-logo .main-logo-span {
  position: absolute;
  height: 9px;
  width: 205px;
  bottom: 45px;
  left: 100px;
  background-image: url(../images/template/logo-main-underline.png);
}
@media only screen and (max-width: 1024px) {
  .main-logo .main-logo-span {
    display: none;
  }
}

.template-img-cont {
  width: calc(992px - 73.991%);
  height: 250px;
  margin-left: calc(987px - 95%);
  border: 5px solid rgba(238, 238, 229, 0.948);
  padding: 5%;
  float: left;
}
@media only screen and (max-width: 1024px) {
  .template-img-cont {
    float: none;
    margin: auto auto 5% auto;
    width: 168px;
    height: 163px;
    border: none;
    padding: 0;
  }
}

.template-p-cont {
  height: 280px;
  width: calc(992px - 46.026%);
  float: right;
  margin: 4% calc(987px - 95%) 0 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-image: url(../images/template/natural-paper.png);
  background-color: rgba(238, 238, 229, 0.948);
}
@media only screen and (max-width: 1024px) {
  .template-p-cont {
    width: 100%;
    height: 140px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin: auto;
    border-top: 5px solid #ff7f26;
    position: relative;
  }
}
.template-p-cont p.cont {
  margin: unset;
}
.template-p-cont .template-p {
  height: 50%;
  margin: 13% 0;
  padding: 0 40px;
  color: #2E86AB;
  border-left: 5px solid #ff7f26;
  text-align: right;
  font-size: large;
  word-wrap: break-word;
  overflow: hidden;
}
@media only screen and (max-width: 1024px) {
  .template-p-cont .template-p {
    text-align: center;
    height: calc(100% - 45px);
    border-left: none;
    margin: 10px auto;
    padding: 10px 5% 10px 5%;
    font-size: initial;
  }
}

.template-div {
  background-image: url(../images/template/div1.png);
  background-size: 100% 100%;
  margin: 7.5% auto;
  width: 90.021%;
  height: 109px;
}
@media only screen and (max-width: 1024px) {
  .template-div {
    position: relative;
    margin: 12.5% auto;
  }
}

/* FOOTER */
footer {
  height: 190px;
  background-image: url(../images/template/wave.svg);
  background-size: 100%;
  border-top: 8px solid mintcream;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
  position: relative;
}
@media only screen and (max-width: 1024px) {
  footer {
    height: 125px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
footer::after {
  content: "";
  background-image: url(../images/template/handmade-paper.png);
  background-color: rgba(79, 79, 79, 0.9058823529);
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -999;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
@media only screen and (max-width: 1024px) {
  footer::after {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
footer ul {
  text-align: center;
  width: 47.5%;
  padding: 0;
  margin: 12% 9.4% 5% 44%;
}
@media only screen and (max-width: 1024px) {
  footer ul {
    margin: 63px auto 24px auto;
    width: 100%;
  }
}
footer ul li a {
  color: #caffd5;
  margin: 0.75%;
  text-decoration: none;
  padding: 4px 10px;
}
@media only screen and (max-width: 1024px) {
  footer ul li a {
    margin: 0;
    padding: 4px 0px;
    font-size: smaller;
  }
}
footer ul .sm {
  padding-right: 1%;
}
@media only screen and (max-width: 1024px) {
  footer ul .sm {
    display: block;
  }
}
footer h2 {
  font-size: small;
  color: #caffd5;
  font-style: oblique;
  opacity: 0.6;
  display: inline;
}

@media only screen and (min-width: 1024px) {
  .button {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
  }
  .button .icon {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.225s;
    transition-delay: 0.15s;
    transform: skew(10deg, 0deg);
  }
  .button .icon::before, .button .icon::after {
    height: 1px;
    width: 0;
    content: "";
    position: absolute;
    display: block;
    transition: left 0.225s, right 0.225s, width 0.225s, height 0.225s;
    transition-delay: 0.3s;
    background: #caffd5;
  }
  .button .icon::before {
    top: 0;
    left: calc(50% - 30px);
  }
  .button .icon::after {
    bottom: 0;
    right: calc(50% - 30px);
  }
  .button .icon span:before,
.button .icon span:after {
    height: 0;
    transition-delay: 0s;
    content: "";
    position: absolute;
    display: block;
    width: 1px;
    transition: left 0.225s, right 0.225s, width 0.225s, height 0.225s;
    background: #caffd5;
  }
  .button .icon span:before {
    left: 0;
    top: 0;
  }
  .button .icon span:after {
    right: 0;
    bottom: 0;
  }
  .button .icon2 {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.225s;
    transform: skew(-40deg, 0deg);
    transition-delay: 0.45s;
  }
  .button:hover .icon {
    transform: skew(-40deg, 0deg);
  }
  .button:hover .icon::before, .button:hover .icon::after {
    transition-delay: 0s;
    width: 25%;
  }
  .button:hover .icon::before {
    left: 0;
  }
  .button:hover .icon::after {
    right: 0;
  }
  .button:hover .icon span:before,
.button:hover .icon span:after {
    height: 50%;
    transition-delay: 0.45s;
  }
  .button:hover .icon2 {
    transform: skew(-40deg, 0deg);
    transition-delay: 0s;
  }
}
/* ANIMATION */
.vis0 {
  visibility: visible;
}

.vis1 {
  visibility: hidden;
}

header > span,
header > span + span {
  animation: slideIn 1.5s ease-in-out;
}

main::after {
  animation: fadeInBack 0.75s ease-in-out;
}

.an {
  opacity: 1;
  animation: fadeInOpacity 0.75s ease-in;
}

.ani0 {
  animation: scale0 1.5s ease-in;
}

@media only screen and (max-width: 992px) {
  .ani {
    animation: scale1 0.5s;
  }
  .ani1 {
    animation: slideInOp 0.75s, slideIn0 0.75s;
  }
  .ani2 {
    animation: fadeInBack 1.5s ease-in;
  }
  .ani3 {
    animation: scale2 1.5s ease-in-out;
  }
  .ani4 {
    animation: fadeInBack 1.5s ease-in;
    animation: scale0 1.5s ease-in;
  }
}
@keyframes fadeInBack {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  37.5% {
    opacity: 0.357;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  87.5% {
    opacity: 0.875;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideIn {
  0% {
    top: -75px;
    transform: scale(0.5);
  }
  100% {
    top: 0;
  }
}
@keyframes slideIn0 {
  0% {
    margin-top: -75px;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes slideInOp {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scale0 {
  0% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scale1 {
  0% {
    background-color: rgba(238, 238, 229, 0.948);
    border-radius: 10px;
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
    border-radius: 5px;
    background-color: transparent;
  }
}
@keyframes scale2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=home.css.map */
