@import "./variables.scss";

/* GLOBAL */

.template-img {
  background-image: url(../images/skills/skills.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
}

.template-img-0 {
  border: 5px solid $c2;
  background-image: url(../images/skills/skillsimg.jpg);
  background-size: 90% 90%;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
  width: 80.041%;
  margin: auto;
}

#sa {
  color: $c3;
}

@media only screen and (max-width: 1024px) {
  .template-img-0 {
    background-size: 88%;
    width: calc(70% - 10px);
    padding: 22% 0 22% 0;
    height: auto;
  }
}

@media only screen and (max-width: 720px) and (orientation: portrait) {
  .template-img-0 {
    width: 100%;
    padding: 32% 0 32% 0;
    border-left: 0;
    border-right: 0;
  }
}

@media only screen and (max-width: 320px) {
 .template-img-0 {
    width: 100%;
    padding: 32% 0 32% 0;
    border-left: 0;
    border-right: 0;
  }
}
