/* images */
#s51 {
  background-image: url("../images/home/global.png");
}

#s52 {
  background-image: url("../images/home/candid.jpg");
}

#s53 {
  background-image: url("../images/home/wp.jpg");
}

#s54 {
  background-image: url("../images/home/tafe.jpg");
}

#s55 {
  background-image: url("../images/home/pff.jpg");
}

#s56 {
  background-image: url("../images/home/sc.jpg");
}

#s57 {
  background-image: url("../images/home/rec.jpg");
}

#s58 {
  background-image: url("../images/home/store.jpg");
}

#s59 {
  background-image: url("../images/home/acc.jpg");
}

#s5 span {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
}

/* GLOBAL */
.template-img {
  background-image: url(../images/home/home.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

/* Scroll */
#site h3 {
  margin-left: 5%;
}

#s4 {
  height: 280px;
  width: calc(992px - 46.026%);
  margin: 4% auto auto calc(987px - 95%);
  float: left;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-image: url(../images/template/text.jpg);
  background-size: 100% 100%;
  position: relative;
  z-index: 999;
}

#close {
  float: right;
  margin: 5.5% 6.5% 0 0;
  padding: 2.5px 5px;
  font-size: x-small;
  color: black;
  border: 1px solid black;
  border-radius: 100px;
  opacity: 0.15;
}

#s5 {
  width: calc(992px - 73.991%);
  height: 250px;
  float: right;
  padding: 5%;
  border: 5px solid whitesmoke;
  margin-right: calc(987px - 95%);
  visibility: hidden;
  position: relative;
}

#s51 {
  display: block;
}

#s5 a {
  position: absolute;
  top: 10px;
  left: 30px;
  color: black;
  font-size: x-large;
}

#s5 a:hover {
  color: whitesmoke;
  text-decoration: none;
}

#ob0 {
  height: 50%;
  margin: 13% 0;
  padding: 0 7px 0 40px;
  position: relative;
  color: #4193bc;
  text-align: left;
  list-style-type: none;
  font-size: large;
  word-wrap: break-word;
  visibility: hidden;
  overflow: hidden;
}

#ob0 h4 {
  margin: 2% 0;
  padding: 0;
}

#home-div {
  background-image: url(../images/home/equal.png);
  background-size: 60px 60px;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
  height: 60px;
  width: 60px;
  margin: 8.7% auto;
  opacity: 0.65;
}

/* RESPONSIVE */
@media only screen and (max-width: 1024px) {
  #site h3 {
    font-size: large;
  }

  #s4 {
    float: none;
    display: block;
    width: 100%;
    height: 140px;
    margin: auto;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  #s5 {
    float: none;
    display: block;
    width: 90%;
    height: auto;
    margin: auto;
    right: 0;
    border-top: 5px solid #fbaf5d;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
    border-right: 0;
  }

  #s5 span {
    background-size: 47%;
    padding: 23%;
  }

  #ob0 {
    border-left: none;
    display: inline-block;
    margin: 12.5px auto;
    height: calc(100% - 45px);
    width: 96%;
    padding: 10px 2% 10px 2%;
    font-size: initial;
  }

  #ob0 li > span {
    padding-left: 15px;
  }

  #ob0 ol li h4 {
    font-size: large;
  }

  #ob0 ul li {
    padding: 0 40px;
  }

  #s5 a {
    top: 5px;
    font-size: small;
  }

  #close {
    float: none;
    position: absolute;
    z-index: 99;
    right: 25px;
    bottom: -35px;
    margin: 0;
  }

  #home-div {
    display: block;
  }

  .template-div {
    margin: auto !important;
    height: 75px !important;
    position: absolute;
    width: 60%;
    bottom: 0;
    left: 20%;
  }
}
@media only screen and (min-width: 480px) and (max-width: 1024px) {
  #s5 {
    width: calc(40% - 10px);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-left: 5px solid whitesmoke;
    border-right: 5px solid whitesmoke;
  }

  #close {
    bottom: auto;
    top: 15px;
  }
}
@media only screen and (max-width: 320px) {
  #s5 a {
    top: 2.5px;
    font-size: xx-small;
  }
}
@media only screen and (max-width: 240px) {
  #s5 a {
    top: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
