/* GLOBAL */
body {
  font-family: Tahoma, sans-serif;
  background-color: honeydew;
}

.outer {
  max-width: 992px;
  margin: auto;
}

h1 {
  display: inline;
  font-size: medium;
  margin: 0;
  padding: 0;
  font-weight: 500;
}

h2 {
  display: inline;
  color: #fbaf5d;
  font-size: 1.8em;
  margin: 0;
  padding: 0;
}

h3 {
  color: rgba(251, 175, 93, 0.9);
  font-size: 1.4em;
  width: 7.5px;
  border-top: 7.5px solid rgba(36, 177, 77, 0.4);
}

h4 {
  color: #24b14d;
  font-size: x-large;
}

nav ul, footer ul {
  letter-spacing: 0.75px;
}

nav ul li, footer ul li {
  display: inline;
}

.button:hover, footer ul li a:hover {
  color: #fbaf5d;
}

/* HEADER */
header {
  width: 100%;
  background-image: url(../images/template/head-back.jpg);
  background-size: 100% 100%;
  height: 75px;
  border-bottom: 8px solid honeydew;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  display: flex;
}

header > span {
  height: 75px;
  width: 260px;
  margin-left: 5%;
  background-image: url(../images/template/logotext.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}

header > span + span {
  display: none;
  height: 75px;
  width: 123px;
  background-image: url(../images/template/textonly.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;
}

header button {
  display: none;
  background-image: url(../images/template/menu.png);
  width: 40px;
  height: 40px;
  background-color: transparent;
  padding: 0;
  border: none;
  margin: auto auto 15px auto;
  cursor: pointer;
  outline: none;
  border-radius: 10px;
}

/* NAV */
nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: calc(95% - 260px);
}

nav ul {
  padding: 2% 0 0 0;
  margin: 0;
  list-style-type: none;
  height: inherit;
  width: 85%;
  text-align: center;
}

.button {
  width: 17%;
  cursor: pointer;
  display: inline-block;
  color: whitesmoke;
}

.button .label {
  display: inline-block;
  padding: 10px;
}

nav a {
  color: inherit;
  text-decoration: none;
}

/* MAIN */
.main {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 27.5%;
}

.main::after {
  content: "";
  background-image: url(../images/template/back.jpg);
  opacity: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -999;
}

.main-logo {
  position: relative;
  display: block;
  margin: 9% auto 3% 55.5%;
  width: 44.5%;
}

#my-svg {
  display: inline-block;
}

.main-logo span svg, #my-svg {
  width: 90px;
  height: 90px;
}

.main-logo h2 {
  display: inline-block;
  font-style: oblique;
  margin-left: 2.5%;
  position: absolute;
  text-shadow: 0 0 2.5px #d3fcd8;
}

.main-logo-span {
  display: block;
  position: absolute;
  height: 9px;
  width: 205px;
  bottom: 45px;
  left: 100px;
  background-image: url(../images/template/logo-main-underline.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

/* TEMPLATE */
.template h3 {
  margin-left: 5%;
}

.template-img-cont {
  width: calc(992px - 73.991%);
  height: 250px;
  margin-left: calc(987px - 95%);
  border: 5px solid whitesmoke;
  padding: 5%;
  visibility: hidden;
  float: left;
}

.template-p-cont {
  height: 280px;
  width: calc(992px - 46.026%);
  float: right;
  margin: 4% calc(987px - 95%) 0 0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  background-image: url(../images/template/text.jpg);
  background-size: 100% 100%;
}

.template-p-img {
  width: 25px;
  height: 25px;
  background-image: url(../images/template/equal0.png);
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
  display: none;
  opacity: 0.3;
  position: absolute;
  right: 12px;
  top: 57.5px;
  z-index: 999;
}

.template-p {
  height: 50%;
  margin: 13% 0;
  padding: 0 40px;
  color: #4193bc;
  border-left: 5px solid #fbaf5d;
  text-align: right;
  overflow-y: auto;
  overflow-x: hidden;
  overflow-y: overlay;
  scrollbar-color: black #fbaf5d;
  scrollbar-width: thin;
  font-size: large;
  word-wrap: break-word;
  visibility: hidden;
}

.template-p::-webkit-scrollbar {
  width: 7px;
}

.template-p::-webkit-scrollbar-thumb {
  background: #fbaf5d;
}

.template-p::-webkit-scrollbar-track {
  background: black;
}

.template-p::-webkit-scrollbar-thumb:hover {
  background: #fbaf5d;
}

.template-div {
  background-image: url(../images/template/div1.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin: 7.5% auto;
  width: 90.021%;
  height: 109px;
  visibility: hidden;
}

/* FOOTER */
footer {
  height: 220px;
  background-image: url(../images/template/foot-back.jpg);
  background-size: 100% 100%;
  border-top: 8px solid honeydew;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  display: flex;
}

footer span {
  height: 110px;
  width: 110px;
  margin-top: 7.5%;
  margin-left: 5%;
  background-image: url(../images/template/sitemap.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

footer ul {
  text-align: center;
  width: 47.5%;
  padding: 0;
  margin: 15% 9.4% 5% 27%;
  list-style-type: none;
}

footer ul li a {
  color: #24b14d;
  margin: 0.75%;
  text-decoration: none;
  padding: 4px 10px;
}

footer h2 {
  font-size: small;
  color: #24b14d;
  font-style: oblique;
  opacity: 0.6;
}

.sm {
  padding-right: 1%;
}

/* ANIMATION */
.vis1 {
  visibility: visible !important;
}

header > span, header > span + span {
  animation: slideIn 1.5s ease-in-out;
}

.main::after {
  animation: fadeInBack 0.75s ease-in-out;
}

.an {
  opacity: 1;
  animation: fadeInOpacity 0.75s ease-in;
}

.ani0 {
  animation: scale0 1.5s ease-in;
}

@media only screen and (max-width: 1024px) {
  .disp {
    display: none;
  }

  .ani {
    animation: scale1 0.5s;
  }

  .ani1 {
    animation: slideInOp 0.75s, slideIn0 0.75s;
  }

  .ani2 {
    animation: fadeInBack 3.5s ease-in;
    visibility: visible;
  }

  .ani3 {
    animation: scale0 3.5s ease-in;
    visibility: visible;
  }

  .ani4 {
    animation: fadeInBack 1.5s ease-in;
    animation: scale0 1.5s ease-in;
  }

  .ani5 {
    animation: scale2 3.5s ease-in-out;
  }
}
@keyframes fadeInBack {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  37.5% {
    opacity: 0.357;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  87.5% {
    opacity: 0.875;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideIn {
  0% {
    top: -75px;
    transform: scale(0.5);
  }
  100% {
    top: 0;
  }
}
@keyframes slideIn0 {
  0% {
    margin-top: -75px;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes slideInOp {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes scale0 {
  0% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes scale1 {
  0% {
    background-color: whitesmoke;
    border-radius: 10px;
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
    border-radius: 5px;
    background-color: transparent;
  }
}
@keyframes scale2 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* RESPONSIVE */
@media only screen and (min-width: 1024px) {
  .button {
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
  }

  .button .label {
    transition: all 0.225s;
    transition-delay: 0s;
  }

  .button .icon2 {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.225s;
    transform: skew(-40deg, 0deg);
    transition-delay: 0.45s;
  }

  .button .icon {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.225s;
    transition-delay: 0.15s;
    transform: skew(10deg, 0deg);
  }

  .button .icon:before, .button .icon:after {
    height: 1px;
    content: "";
    position: absolute;
    display: block;
    transition: all 0.375s;
    transition-delay: 0.3s;
    background: #24b14d;
  }

  .button .icon:before {
    top: 0;
    left: calc(50% - 30px);
  }

  .button .icon:after {
    bottom: 0;
    right: calc(50% - 30px);
  }

  .button .icon span:before, .button .icon span:after {
    height: 0;
    transition-delay: 0s;
    content: "";
    position: absolute;
    display: block;
    width: 1px;
    transition: all 0.225s;
    background: #24b14d;
  }

  .button .icon span:before {
    left: 0;
    top: 0;
  }

  .button .icon span:after {
    right: 0;
    bottom: 0;
  }

  .button:hover .icon {
    transform: skew(-40deg, 0deg);
  }

  .button:hover .icon:before, .button:hover .icon:after {
    transition-delay: 0s;
    width: 25%;
  }

  .button:hover .icon:before {
    left: 0;
  }

  .button:hover .icon:after {
    right: 0;
  }

  .button:hover .icon span:before, .button:hover .icon span:after {
    height: 50%;
    transition-delay: 0.45s;
  }

  .button:hover .icon2 {
    transform: skew(-40deg, 0deg);
    transition-delay: 0s;
  }
}
@media only screen and (max-width: 1024px) {
  header {
    padding: 10px 0;
    flex-direction: column;
    height: auto;
  }

  header > span {
    display: none;
  }

  header > span + span {
    display: block;
    margin: auto;
  }

  header button {
    display: block;
  }

  nav {
    width: 100%;
    flex-direction: column;
  }

  nav ul {
    margin: 0;
    width: 100%;
    padding: 0;
  }

  .button {
    min-width: 140px;
    width: 31%;
    margin: 1%;
    border: 1px solid whitesmoke;
    color: #24b14d;
  }

  .main-logo {
    margin-left: 7.5%;
    width: 92.5%;
  }

  .main-logo span svg, #my-svg {
    width: 55px;
    height: 55px;
  }

  .main-logo h2 {
    font-size: x-large;
    text-shadow: none;
  }

  .main-logo-span {
    display: none;
  }

  .template h3 {
    font-size: large;
  }

  .template-img-cont {
    float: none;
    display: block;
    margin: auto auto 5% auto;
    width: 168px;
    height: 163px;
    border: none;
    padding: 0;
  }

  .template-p-cont {
    width: 100%;
    height: 140px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin: auto;
    border-top: 5px solid #fbaf5d;
    position: relative;
  }

  .template-p-img {
    display: inline-block;
  }

  .template-p {
    text-align: center;
    display: block;
    height: calc(100% - 45px);
    border-left: none;
    border-top: 2.5px solid rgba(154, 218, 218, 0.4);
    border-bottom: 2.5px solid rgba(154, 218, 218, 0.4);
    margin: 10px auto;
    padding: 10px 5% 10px 5%;
    font-size: initial;
  }

  .template-div {
    position: relative;
  }

  .template-img-0 {
    background-size: 88% !important;
    width: calc(70% - 10px) !important;
    padding: 22% 0 22% 0;
    height: auto !important;
  }

  footer {
    flex-direction: column;
  }

  footer span {
    display: block;
    margin: auto auto 2% auto;
    position: relative;
    top: 25px;
    transform: scale(0.75);
  }

  footer ul {
    display: block;
    margin: auto;
    width: 100%;
  }

  .sm {
    display: none;
  }

  footer ul li a {
    display: inline;
    border-radius: 0;
    margin: 0;
    padding: 4px 0px;
    font-size: smaller;
  }
}
@media only screen and (max-width: 720px) and (orientation: portrait) {
  .template-img-0 {
    width: 100% !important;
    padding: 32% 0 32% 0;
    border-left: 0 !important;
    border-right: 0 !important;
  }
}
@media only screen and (max-width: 480px) {
  .main {
    padding-bottom: 34%;
  }
}
@media only screen and (max-width: 320px) {
  .main-logo h2 {
    font-size: medium;
  }

  .template-img-0 {
    width: 100% !important;
    padding: 32% 0 32% 0;
    border-left: 0 !important;
    border-right: 0 !important;
  }
}
@media only screen and (max-width: 240px) {
  .main-logo h2 {
    font-size: smaller;
  }
}

/*# sourceMappingURL=template.css.map */
