$font: Tahoma, sans-serif;
$mainbg: honeydew;

$heading2: rgb(251, 175, 93);
$heading3: rgba(251, 175, 93, 0.9);
$heading4: rgb(36, 177, 77);

$headingBoarder:rgba(36, 177, 77, 0.4);
$tempBoarder: rgba(154, 218, 218, 0.4);

$Acolor: rgb(36, 177, 77);
$aHover: rgb(251, 175, 93);

$c1:rgb(211, 252, 216);
$c2:whitesmoke;
$c3:rgb(65, 147, 188);
$c4: rgb(251, 175, 93);
$c5: black;
$c6: rgb(36, 177, 77);
$c7: red;


