#contact-template-img {
  background-image: url(../images/contact/contact.png);
}

#contact-template-img-0 {
  background-image: url(../images/contact/contimg.jpg);
}

#overlay  {
  text-align: initial;
  @include ten_24 {
    width: calc(90% - 16px);
  }
  form {
    fieldset {
      border: none;
      padding: 0;
      margin: 0;
      legend {
        padding: 0;
        margin: 0 0 0 5%;
      }
      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        li {
          padding-bottom: 35px;
          margin: 0 10% 0 10%;
          width: 80%;
        }
      }
      label {
        color: $c4;
      }
      textarea {
        width: 100%;
        resize: none;
        font: inherit;
        padding: 0;
        margin: 5px 0 0 0;
        font-size: inherit;
        background-image: url(../images/template/natural-paper.png);
        background-color: $c2;
        border: 1px solid $c3;
        color: $c3;
        outline: none;
        overflow-y: auto;
        overflow-x: hidden;
        scrollbar-color: $c4 $c11;
        scrollbar-width: thin;
        &::-webkit-scrollbar {
          width: 5px;
        }
        &::-webkit-scrollbar-track {
          background: $c11;
        }
        &::-webkit-scrollbar-thumb {
          background: $c4;
        }
      }
    }
    input {
      width: 100%;
      font-style: inherit;
      padding: 0;
      margin: 5px 0 0 0;
      font: inherit;
      background-image: url(../images/template/natural-paper.png);
      background-color: $c2;
      border: 1px solid $c3;
      color: $c3;
      outline: none;
    }
    #sent {
      text-align: center;
      height: 23px;
      display: none;
      margin: 0 auto;
    }
    #sub {
      width: auto;
      display: block;
      margin: auto;
      padding: 0 10px;
      color: $c8;
      border-radius: 10px;
    }
    .red {
      border-color: $c7;
    }
    .msg {
      color: $c7;
      font-size: smaller;
      padding-left: 2.5px;
    }
  }
}