#contact-template-img {
  background-image: url(../images/contact/contact.png);
}

#contact-template-img-0 {
  background-image: url(../images/contact/contimg.jpg);
}

#overlay {
  text-align: initial;
  margin: 9.5% 0;
  height: 71%;
  @include ten_24 {
    width: calc(90% - 16px);
    height: calc(100% - 40px);
    margin: 10px auto;
  }
  form {
    .os-host-textarea {
      font: inherit;
      margin: 5px 0 0 0;
      font-size: inherit;
      border: 1px solid $c3;
      border-bottom-right-radius: 5px;
      color: $c3;
    }
    fieldset {
      border: none;
      padding: 0;
      margin: 0;
      @include ten_24 {
        padding: 0 5%;
      }
      legend {
        padding: 0;
        margin: 0;
        color: $c4;
      }
      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        li {
          margin: auto;
          width: 100%;
          padding-bottom: 50px;
          &:nth-child(1),
          &:nth-child(2) {
            width: 49.3%;
            display: inline-block;
            @include ten_24 {
              width: 100%;
            }
          }
        }
      }
      label {
        height: 50px;
        display: block;
      }
    }
    input {
      width: 100%;
      font-style: inherit;
      padding: 0 0 2px 1px;
      margin: 5px 0 0 0;
      border-bottom-right-radius: 5px;
      font: inherit;
      background-color: transparent;
      border: 1px solid $c3;
      color: $c3;
      outline: none;
      &::placeholder {
        color: $c4;
      }
    }
    #sent {
      text-align: center;
      height: 23px;
      display: none;
      margin: 0 auto;
    }
    #sub {
      width: auto;
      display: block;
      margin: auto;
      padding: 0 10px;
      color: $c8;
      border-radius: 10px;
    }
    .red {
      border-color: $c7;
    }
    .msg {
      color: $c7;
      font-size: smaller;
      padding-left: 2.5px;
      display: block;
    }
  }
}

.circle-progress {
  @include seven_20_portrait {
    border-radius: 10px;
  }
  .slider {
    height: 100%;
    width: 90%;
    margin: auto;
    position: relative;
    display: flex;
    align-items: center;
    transition: opacity 1s linear;
    opacity: 0;
    .a {
      border-radius: 100%;
      background-size: cover;
      padding: 75px 75px;
    }
    .button-next {
      position: absolute;
      background-color: transparent;
      outline: none;
      border: none;
      top: 7.5%;
      color: $c2;
      background-size: contain;
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
      &:hover {
        @include ten_24_min {
          opacity: 0.5;
        }
      }
    }
    .open-left {
      background-image: url(../images/contact/left.png);
      left: 2%;
    }
    .open-right {
      background-image: url(../images/contact/right.png);
      right: 2%;
    }
    .image-fill-right {
      z-index: 0;
      position: relative;
      margin: auto 12.5% auto 12.5%;
      padding: 15%;
      height: initial;
      @include ten_24_min {
        position: absolute;
        margin: initial;
        z-index: -1;
        opacity: 0;
        padding: 75px 75px;
      }
    }
    .image-1 {
      z-index: 0;
      position: relative;
      display: none;
      @include ten_24_min {
        display: block;
      }
    }
    .image-fill-left {
      right: 0;
      z-index: -1;
      opacity: 0;
      position: absolute;
      display: none;
      @include ten_24_min {
        display: block;
      }
    }
    .image-2 {
      right: 0;
      z-index: 0;
      position: absolute;
      display: none;
      @include ten_24_min {
        display: block;
      }
    }
    .inner {
      margin: auto;
      width: 50%;
      @include ten_24_min {
        width: 100%;
        margin: auto auto auto 2%;
      }
      a {
        color: $c1;
        text-decoration: none;
        &:hover,
        &:focus {
          color: $aHover;
          text-decoration: underline solid;
        }
      }
    }
    .static-count {
      display: none;
    }
  }
}
.percentage {
  height: 2px;
  position: relative;
  width: 90%;
  margin: 2% auto;
  transition: opacity 1s linear;
  opacity: 0;
  background-color: $c4;
  .percentage-change {
    position: absolute;
    height: 2px;
    left: 0;
    background-color: $c1;
  }
}
