$img: "../images/home/global.png", "../images/home/bus.jpg", "../images/home/wp.jpg", "../images/home/pff.jpg",
  "../images/home/acc.jpg", "../images/home/stick.jpg", "../images/home/candid.jpg", "../images/home/port.jpg",
  "../images/home/login.jpg";

@for $i from 1 through length($img) {
  #s5#{$i} {
    background-image: url(nth($img, $i));
  }
}

#home-template-img {
  background-image: url(../images/home/home.png);
  background-position: center;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

#home-div {
  display: none;
  @include ten_24 {
    display: block;
    background-image: url(../images/home/equal.png);
    height: 60px;
    width: 60px;
    margin: 12.5% auto;
    opacity: 0.65;
  }
}

@include ten_24 {
  #home-template-div {
    display: none;
  }
}

/* Scroll */

#site {
  position: relative;
  #s4 {
    height: 349px;
    width: calc(992px - 46.026%);
    margin: auto auto auto calc(992px - 95%);
    float: left;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    background-image: url(../images/template/natural-paper.png);
    background-color: $c2;
    @include ten_24 {
      position: relative;
      float: none;
      width: 95%;
      height: 120px;
      margin: auto;
      padding: 25px 0;
      border-top-right-radius: 25px;
      border-bottom-left-radius: 0;
    }
    @include ten_23_landscape {
      height: 75px;
    }
    #ob0 {
      height: 60%;
      margin: 13% 0;
      color: #4193bc;
      text-align: left;
      font-size: large;
      word-wrap: break-word;
      position: absolute;
      top: 0;
      right: 5%;
      bottom: 0;
      left: 5%;
      z-index: 1;
      @include ten_24 {
        position: inherit;
        height: 100%;
        padding: 0 5%;
        margin: auto;
        font-size: initial;
        top: unset;
        right: unset;
        bottom: unset;
        left: unset;
      }
      #ob0ul {
        margin: 0;
        width: 50%;
        padding: 0 7px 0 40px;
        list-style-type: none;
        @include ten_24 {
          width: 87%;
          padding: 0;
          li ol {
            padding-left: 20px;
          }
          li ol li h4 a {
            font-size: initial;
          }
        }
        li img {
          display: block;
          margin: 10% 15%;
          @include ten_24 {
            margin: 5% 10%;
            width: 40px;
            height: 40px;
          }
          @include ten_23_landscape {
            margin: 1.5% 10%;
          }      
        }
        ol li {
          padding-top: 20px;
          h4 a {
            margin: 2% 0;
            padding: 0;
            color: $heading4;
            text-decoration: none;
            font-size: x-large;
            &:hover,
            &:focus {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  #s5 {
    width: calc(992px - 73.991%);
    height: 250px;
    float: right;
    padding: 5%;
    margin-right: calc(992px - 95%);
    position: relative;
    background-image: url(../images/template/natural-paper.png);
    background-color: $c2;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    @include ten_24 {
      float: none;
      padding: 10%;
      width: 75%;
      height: auto;
      margin: auto;
      border-top-right-radius: 0;
      border-bottom-left-radius: 25px;
      border-top: 3px solid $c11;
    }
    @include ten_23_landscape {
      padding: 2%;
      width: 91%;
    }
    span {
      background-size: 100% 100%;
      background-repeat: no-repeat;
      background-position: center;
      height: 100%;
      @include ten_24 {
        background-size: 50%;
        padding: 25%;
      }
      @include ten_23_landscape {
        background-size: 25%;
        padding: 12.5%;
      }
    }
    a {
      position: absolute;
      top: 5%;
      left: 5%;
      color: $c5;
      font-size: large;
      @include ten_24 {
        font-size: smaller;
      }
      &:hover,
      &:focus {
        color: $c4;
        text-decoration: none;
      }
    }
    #s51 {
      display: block;
    }
  }
}