@font-face {
    font-family: Poppins-Regular;
    src: url(./Poppins-Regular.ttf);
}

$font: Poppins-Regular;
$main: #94b8b8;
$mainbg: white;

$c1: #EEFFED;
$c2:rgb(245, 252, 252);
$c3: #2E86AB;
$c4: #F07F31;
$c5: black;
$c6:#adfabd;
$c7: #D81159;
$c8: #24b14d;
$c9: slategrey;
$c10: darkslategrey;
$c11: rgba($c10,0.1);

$heading2: #f5fcfc;
$heading3: $c4;
$heading4: $c8;

$tempBoarder: rgba($main, 0.4);

$Acolor: $heading2;
$aHover:  #F07F31;
