@font-face {
    font-family: Poppins-Regular;
    src: url(./Poppins-Regular.ttf);
}

$font: Poppins-Regular;
$main: #6acbd7;
$mainbg: snow;

$c1: #EEFFED;
$c2:rgba(245, 252, 252, 0.75);
$c3: #2E86AB;
$c4: #F07F31;
$c5: black;
$c6:#adfabd;
$c7: #D81159;
$c8: #24b14d;
$c9: #4f4f4fe7;
$c10: #4A5354;
$c11: rgba($c10,0.1);

$heading2: #f5fcfc;
$heading3: $c4;
$heading4: $c8;

$headingBoarder:  rgba($c6, 0.4);
$tempBoarder: rgba($main, 0.4);

$Acolor: $heading2;
$aHover:  $main;