@import "variables";

.template-img {
  background-image: url(../images/about/about.png);
  background-position: center;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.template-img-0 {
  background-image: url(../images/about/aboutimg.jpg);
  @include image-0();
}

@import "template/template";