@mixin image-0 {
    background-color: rgba($main,0.25);
    background-blend-mode: screen;
    @include ten_24 {
      background-size: 88%;
      width: calc(70% - 10px);
      padding: 22% 0 22% 0;
      height: auto;
    }
    @include seven_20_portrait {
      width: 100%;
      padding: 32% 0 32% 0;
      border-left: 0;
      border-right: 0;
    }
    @include three_20 {
      width: 100%;
      padding: 32% 0 32% 0;
      border-left: 0;
      border-right: 0;
    }
  }