/* BODY */

.template-img-cont {
    width: 250px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-image: url(../../images/template/natural-paper.png);
    background-blend-mode: darken;
    background-color: $c2;
    padding: 0 50px;
    @include nine_92 {
        margin: auto auto 50px auto;
        width: 160px;
        height: 160px;
        border-radius: initial;
        padding: 0;
        background-image: none;
        background-color: initial;
    }
    .template-img {
        background-position: center;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        opacity: 0.875;
    }
}

.template-p-cont {
    height: 37vh;
    max-height: 350px;
    min-height: 205px;
    width: calc(80% - 350px);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-image: url(../../images/template/natural-paper.png);
    background-color: $c2;
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include nine_92 {
        width: 100%;
        height: 50vh;
        min-height: 170px;
        max-height: 500px;
        border-radius: initial;
        border-top: 3px solid $c4;
        position: relative;
    }
    .template-p {
        height: 150px;
        padding: 0 40px;
        color: $c3;
        text-align: right;
        font-size: large;
        word-wrap: break-word;
        overflow: hidden;
        @include nine_92 {
            text-align: center;
            font-size: medium;
            padding: 0 10px;
        }
        p {
            margin: initial;
        }
    }
}

.template-div {
    background-image: url(../../images/template/div1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    margin: 25px auto;
    padding: 13px 0;
    opacity: 0.5;
    @include nine_92 {
        width: 60%;
        padding: 3% 0;
        margin: 20vh auto 10vh auto;
    }
}

.template-border-img {
    background-image: url(../../images/template/natural-paper.png);
    background-blend-mode: darken;
    border-top-right-radius: 25px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: $c2;
    padding: 15px;
    width: 80%;
    box-sizing: border-box;
    margin: 3% auto 6% auto;
    @include nine_92 {
        margin: 6% auto;
        padding: 3px;
        width: 65%;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }
    @include seven_20_portrait {
        padding: 3px 0 0 0;
        border-radius: 0;
        width: 100%;
        margin: auto auto 0 auto;
    }
}

.template-img-0 {
    background-image: url(../../images/template/3px-tile.png);
    background-color: $main;
    background-blend-mode: luminosity;
    position: relative;
    height: 50vh;
    min-height: 450px;
    max-height: 600px;
    box-sizing: border-box;
    border-top-right-radius: 12.5px;
    border-top-left-radius: 2.5px;
    border-bottom-right-radius: 12.5px;
    border-bottom-left-radius: 12.5px;
    @include nine_92 {
        height: initial;
        min-height: initial;
        max-height: initial;
        padding: 28.05% 0;
        border-top-right-radius: 2.5px;
        border-top-left-radius: 2.5px;
        border-bottom-right-radius: 22.5px;
        border-bottom-left-radius: 22.5px;
    }
    @include seven_20_portrait {
        border-radius: 0;
        padding: 31% 0;
    }
    .template-shrink {
        display: flex;
        border-radius: 5px;
        flex-direction: column;
        justify-content: flex-end;
        color: $c2;
        position: absolute;
        top: 2%;
        right: 1%;
        bottom: 2%;
        left: 1%;
        margin: initial;
        z-index: 0;
        transition:
            background-color 0.5s linear,
            top 0.5s linear,
            right 0.5s linear,
            bottom 0.5s linear,
            left 0.5s linear;
        .template-b {
            margin: auto auto 5% 5%;
            cursor: pointer;
            font-family: inherit;
            color: $c3;
            background-color: $c2;
            padding: 1% 2%;
            border-radius: 5px;
            border: none;
            font-size: inherit;
            font-weight: 700;
            transition: color 0.2s ease;
            &:hover {
                @include nine_92_min {
                    color: $c4;
                }
            }
        }
    }
}
