/* BODY */

.template-img-cont {
    width: 250px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-image: url(../../images/template/natural-paper.png);
    background-blend-mode: lighten;
    background-color: $c2;
    padding: 0 25px 0 50px;
    @include ten_24_max {
        margin: 25px auto 75px auto;
        width: 90px;
        height: 90px;
        padding: 0;
        border-radius: 50%;
    }
    .template-img {
        background-position: center;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        @include ten_24_max {
            background-size: 165%; 
        }   
    }
}

.template-p-cont {
    height: clamp(205px, 50vh, 430px);
    width: calc(87.5% - 325px);
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-image: url(../../images/template/natural-paper.png);
    background-color: $c2;
    background-blend-mode: lighten;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include ten_24_max {
        width: 100%;
        height: 50vh;
        min-height: 170px;
        max-height: 500px;
        border-radius: initial;
        border-top: 3px solid $mainbg;
        position: relative;
    }
    .template-p {
        height: 150px;
        padding: 0 40px;
        color: $c3;
        text-align: right;
        font-size: large;
        word-wrap: break-word;
        overflow: hidden;
        @include ten_24_max {
            text-align: center;
            font-size: medium;
            padding: 0 10px;
        }
        p {
            margin: initial;
        }
    }
}

.template-div {
    background-image: url(../../images/template/div1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    margin: 25px  auto;
    padding: 10px 0;
    opacity: 0.5;
    @include ten_24_max {
        width: 60%;
        padding: 3% 0;
        margin: 20vh auto 10vh auto;
    }
}

.template-border-img {
    background-image: url(../../images/template/natural-paper.png);
    background-blend-mode: lighten;
    border-top-right-radius: 25px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: $c2;
    padding: 7.5px;
    width: 87.5%;
    box-sizing: border-box;
    margin: 6% auto;
    @include ten_24_max {
        margin: 6% auto;
        padding: 3px;
        width: 65%;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
    }
    @include seven_20_portrait {
        padding: 3px 0 0 0;
        border-radius: 0;
        width: 100%;
        margin: auto auto 0 auto;
        background-image: initial;
        background-color: $mainbg;
        background-blend-mode: initial;
    }
}

.template-img {
    background-image: url(../../images/template/paint.png);
    background-size: cover;
}

.template-img-overlay {
    background-color: lighten(rgba($main, 0.125), 12.25%);
    position: relative;
    padding: 33% 0;
    box-sizing: border-box;
    border-top-right-radius: 17px;
    border-top-left-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
    border-bottom-left-radius: 2.5px;
    @include ten_24_max {
        border-top-right-radius:22.5px;
        border-top-left-radius: 22.5px;
        border-bottom-right-radius: 2.5px;
        border-bottom-left-radius: 2.5px;
    }
    @include seven_20_portrait {
        border-radius: 0;
        padding: 31% 0;
    }
    .template-shrink {
        display: flex;
        border-radius: 5px;
        flex-direction: column;
        justify-content: flex-end;
        color: $c2;
        position: absolute;
        top: 2%;
        right: 1%;
        bottom: 2%;
        left: 1%;
        margin: initial;
        z-index: 0;
        transition:
            background-color 0.5s linear,
            top 0.5s linear,
            right 0.5s linear,
            bottom 0.5s linear,
            left 0.5s linear;
        .template-b {
            margin: auto auto 3% 5%;
            cursor: pointer;
            font-family: inherit;
            color: $c3;
            background-color: $c2;
            padding: 1% 2%;
            border-radius: 5px;
            border: none;
            font-size: clamp(12px, 3.5vw, 16px);
            font-weight: 500;
            transition: color 0.2s ease;
            &:hover {
                color: $c4;
            }
        }
    }
}