/* FOOTER */

footer {
    background-image: url(../../images/template/handmade-paper.png);
    border-top: 4px solid $mainbg;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: $c9;
    display: flex;
    position: relative;
    overflow: hidden;
    z-index: 1;
    @include ten_24_max {
        border-top: 4px solid $mainbg;
        border-radius: initial;
    }
    &::after {
        content: "";
        background-image: url(../../images/template/wave.svg);
        background-color: $c10;
        background-blend-mode: multiply;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 210%;
        position: absolute;
        z-index: -1;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        @include ten_24_max {
            border-radius: initial;
            height: 120%;
        }
    }
    ul {
        text-align: center;
        width: 47.5%;
        padding: 0;
        margin: 95px 3.4% 20px 50%;
        letter-spacing: 0.75px;
        @include ten_24_max {
            margin:  60px auto 10px auto;
            width: 100%;
        }
        li {
            display: inline;
            a {
                color: $Acolor;
                margin: 0.75%;
                text-decoration: none;
                padding: 4px 10px;
                @include ten_24_max {
                    color: $c2;
                    margin: 0;
                    padding: 4px 0px;
                    font-size: smaller;
                }
                &:hover {
                    color: $aHover;
                }
            }
        }
        li.sm {
            padding: 0 1% 0 0;
            opacity: 0.5;
            @include ten_24_max {
                display: block;
                padding: 0;
            }
            h3 {
                font-size: small;
                color: $Acolor;
                font-style: oblique;
                opacity: 0.6;
                display: inline;
            }
        }
    }
}
