/* HEADER */

header {
    background-image: url(../../images/template/handmade-paper.png);
    background-color: $c10;
    border-bottom: 4px solid $mainbg;
    border-top-left-radius: 5px;
    border-top-right-radius: 25px;
    background-blend-mode: multiply;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    @include ten_24_max {
    border-radius: initial;
        border-bottom: 4px solid $mainbg;
    }
    > a {
        margin: auto;
        @include ten_24_max {
            display: none;
        }
        div {
            width: 123px;
            height: 75px;
            background-image: url(../../images/template/textonly.svg);
            background-position: center;
            background-repeat: no-repeat;
        }
    }
    button {
        display: none;
        @include ten_24_max {
            background-image: url(../../images/template/menu.png);
            width: 50px;
            height: 50px;
            background-color: transparent;
            background-position: center;
            background-repeat: no-repeat;
            display: block;
            border: none;
            cursor: pointer;
            outline: none;
            position: relative;
            z-index: 1;
            margin: 5px auto;
        }
    }
    nav {
        width: 67%;
        @include ten_24_max {
            width: 100%;
            overflow: hidden;
            &.disp {
                height: 0;
            }
        }
        ul {
            margin: 0;
            padding: 0;
            letter-spacing: 0.75px;
            display: flex;
            flex-wrap: wrap;
            li {
                list-style-type: none;
                width: 25%;
                @include ten_24_max {
                    width: 50%;
                }
                a {
                    display: flex;
                    justify-content: space-between;
                    padding: 10px;
                    text-decoration: none;
                    box-sizing: border-box;
                    height: clamp(46px ,7vh, 76px);
                    color: $Acolor;
                    border-left: 4px solid $mainbg;
                    position: relative;
                    transition: color 0.375s;
                    transition-delay: 375ms;
                    @include ten_25_min {
                        &:hover::after {
                            width: 100%;
                        }
                        &:hover {
                            color: $aHover;
                        }
                    }
                    @include ten_24_max {
                        border-top: 1px solid $mainbg;
                        height: 75px;
                        &.active {
                            color: $Acolor;
                            span {
                                color: $aHover;
                            }
                        }
                    }
                    span {
                        align-self: flex-end;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        top: 94%;
                        right: 0;
                        bottom: 0%;
                        left: 0;
                        background-color: $aHover;
                        width: 0;
                        transition: width 1s;
                        transition-delay: 250ms;
                        z-index: 999;
                    }
                }
                &:nth-child(even) a {
                    @include ten_24_max {
                        border-left: 1px solid $mainbg;
                    }
                }
                &:nth-child(odd) a {
                    @include ten_24_max {
                        border-left: none;
                    }
                }
            }
        }
        .heading {
            background-image: url(../../images/template/handmade-paper.png);
            background-color: $c10;
            border-top: 4px solid $mainbg;
            border-left: 4px solid $mainbg;
            background-blend-mode: multiply;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 13px;
            @include ten_24_max {
                border-top: 1px solid $mainbg;
                border-left: none;
                justify-content: flex-end;
                flex-direction: row-reverse;
            }
            a {
                color: $Acolor;
                text-decoration: none;
                padding: 10px;
                &:hover,
                &:focus {
                    color: $aHover;
                }
            }
            #my-svg {
                overflow: visible;
                opacity: 0.75;
                width: 32px;
                display: inline-block;
                path {
                    fill: none;
                    stroke: $c1;
                    stroke-width: 2;
                }
            }
        }
    }
}
