@import url("../../node_modules/overlayscrollbars/css/OverlayScrollbars.css");

/* GLOBAL */

html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: $font;
  background-color: $mainbg;
  background-image: url(../../images/template/natural-paper.png);
  background-blend-mode: darken;
  overflow-y: scroll;
  @include ten_24 {
    margin: auto;
  }
}

.outer {
  max-width: 1200px;
  margin: auto;
}

.hidden {
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}

.os-theme-dark.os-theme-dark-edgy > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
  background: $main;
  min-height: 30px;
  max-height: 30px;
}

.os-theme-dark > .os-scrollbar > .os-scrollbar-track,
.os-theme-light > .os-scrollbar > .os-scrollbar-track {
  background: $c11;
}

h2 {
  height: 34px;
  width: 100%;
  margin: auto auto 25px 10%;
  color: $heading3;
  font-size: 1.4em;
  position: relative;
  @include ten_24 {
    height: 27px;
    font-size: large;
    margin: auto auto 25px 5%;
  }
  @include four_80 {
    margin: auto auto 25px 25px;
  }
  &::before {
    position: absolute;
    content: "";
    top: calc(50% - 3.25px);
    left: -15px;
    bottom: 0;
    right: 0;
    clip: rect(auto, 10px, auto, auto);
  }
}

a {
  transition: color 0.2s ease;
}

@import "header";
@import "main";
@import "footer";
