@import url("../../node_modules/overlayscrollbars/css/OverlayScrollbars.css");

/* GLOBAL */

html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: $font;
  background-color: $mainbg;
  background-image: url(../../images/template/natural-paper.png);
  background-blend-mode: lighten;
  overflow-y: scroll;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding: 16px;
  @include nineteen_21 {
    justify-content: center;
  }
  @include ten_24_max {
    padding: 0;
    flex-direction: fle;
  }
}

.outer {
  max-width: 1200px;
  width: 100%;
}

.hidden {
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
}

.os-theme-dark.os-theme-dark-edgy > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
  background: $main;
  min-height: 30px;
  max-height: 30px;
}

.os-theme-dark > .os-scrollbar > .os-scrollbar-track,
.os-theme-light > .os-scrollbar > .os-scrollbar-track {
  background: $c11;
}

a {
  transition: color 0.2s ease;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: calc(84vh - 162px);
  justify-content: space-evenly;
  @include nineteen_21 {
    min-height:calc(42vh - 162px);
  }
  @include ten_24_max {
    min-height: calc(100vh - 212px);
  }
  #after {
    background-image: url(../../images/template/handmade-paper.png);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -999;
    background-color: darken($main, 7.5%);
    background-blend-mode: saturation;
    background-attachment: fixed;
  }
  > section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    h2 {
      height: 34px;
      font-weight: 500;
      width: 100%;
      margin: 25px auto 25px 7.5%;
      color: $heading1;
      font-size: 1.4em;
      position: relative;
      @include ten_25_min {
        &.heading {
          margin-top: 50px;
        }
      }
      @include ten_24_max {
        height: 27px;
        font-size: large;
        margin: 25px auto 25px max(5%, 25px);
      }
      &::before {
        position: absolute;
        content: "";
        top: calc(50% - 3.25px);
        left: -15px;
        bottom: 0;
        right: 0;
        clip: rect(auto, 10px, auto, auto);
      }
    }
  }
}

@import "header";
@import "body";
@import "footer";
