/* ANIMATION */

.vis0 {
  visibility: visible;
}

.vis1 {
  visibility: hidden;
}

header > span,
header > span + span {
  animation: fadeInOpacity 1.5s ease-in-out;
}

main::after {
  animation: fadeInBack 0.75s ease-in-out;
}

.an {
  opacity: 1;
  animation: fadeInOpacity 0.75s ease-in;
}

.ani0 {
  animation: scale0 1.5s ease-in;
}

.ani {
  animation: scale1 0.5s;
}

.ani1 {
  animation: slideInOp0 0.75s, slideIn0 0.75s;
}

.ani2 {
  animation: fadeInBack 1.5s ease-in;
}

.ani3 {
  animation: scale3 1.5s ease-in-out;
}

.ani4 {
  animation: fadeInBack 1.5s ease-in;
  animation: scale0 1.5s ease-in;
}

.ani5 {
  &.template-img-0 b,
  &.template-img-0 b {
    color: $c2;
    background-color: unset;
  }
  &.template-img-0 p,
  &.template-img-0 p {
    background-color: $c3;
    opacity: 0.75;
    top: 8%;
    right: 8%;
    bottom: 8%;
    left: 8%;
    span {
      opacity: 1;
    }
  }
}

.ani6 {
  animation: slideInOp1 0.75s, slideIn1 0.75s;
}

.ani7 {
  animation: scale2 0.5s;
}

@keyframes fadeInBack {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  37.5% {
    opacity: 0.357;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  87.5% {
    opacity: 0.875;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn0 {
  0% {
    height: 0;
  }
  100% {
    height: 72px;
  }
}

@keyframes slideIn1 {
  0% {
    height: 72px;
  }
  100% {
    height: 0;
  }
}

@keyframes slideInOp0 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInOp1 {
  0% {
    opacity: 0;
  }
}

@keyframes scale0 {
  0% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scale1 {
  0% {
    background-color: $c2;
    border-radius: 10px;
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
    border-radius: 5px;
    background-color: transparent;
  }
}

@keyframes scale2 {
  0% {
    background-color: $c2;
    border-radius: 10px;
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
    border-radius: 5px;
    background-color: transparent;
  }
}

@keyframes scale3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
