/* FOOTER */

footer {
    height: 190px;
    background-image: url(../images/template/wave.svg);
    background-size: 100%;
    border-top: 8px solid $mainbg;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    @include ten_24 {
        height: 125px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    &::after {
        content: "";
        background-image: url(../images/template/handmade-paper.png);
        background-color: $c9;
        background-blend-mode: multiply;
        opacity: 1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -999;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        @include ten_24 {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
    ul {
        text-align: center;
        width: 47.5%;
        padding: 0;
        margin: 12% 9.4% 5% 44%;
        @include ten_24 {
            margin: 63px auto 24px auto;
            width: 100%;
        }
        li a {
            color: $Acolor;
            margin: 0.75%;
            text-decoration: none;
            padding: 4px 10px;
            @include ten_24 {
                margin: 0;
                padding: 4px 0px;
                font-size: smaller;
            }
        }
        .sm {
            padding-right: 1%;
            @include ten_24 {
                display: block;
            }
        }
    }
    h2 {
        font-size: small;
        color: $Acolor;
        font-style: oblique;
        opacity: 0.6;
        display: inline;
    }
}
