/* FOOTER */

footer {
    height: 190px;
    background-image: url(../images/template/wave.svg);
    background-size: 100%;
    border-top: 4px solid $mainbg;
    background-color: $c10;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    display: flex;
    position: relative;
    @include ten_24 {
        height: 125px;
        border-top: 4px solid $mainbg;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    &::after {
        content: "";
        background-image: url(../images/template/handmade-paper.png);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: $c9;
        position: absolute;
        z-index: -999;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        @include ten_24 {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
    ul {
        text-align: center;
        width: 47.5%;
        padding: 0;
        margin: 12% 9.4% 5% 44%;
        letter-spacing: 0.75px;
        @include ten_24 {
            margin: 63px auto 24px auto;
            width: 100%;
        }
        li {
            display: inline;
            a {
                color: $Acolor;
                margin: 0.75%;
                text-decoration: none;
                padding: 4px 10px;
                @include ten_24 {
                    color: $c2;
                    margin: 0;
                    padding: 4px 0px;
                    font-size: smaller;
                }
                &:hover,
                &:focus {
                    color: $aHover;
                    @include ten_24 {
                        color: $c4;
                    }
                }
            }
        }
        li.sm {
            padding-right: 1%;
            opacity: 0.5;
            @include ten_24 {
                display: block;
            }
            h3 {
                font-size: small;
                color: $Acolor;
                font-style: oblique;
                opacity: 0.6;
                display: inline;
            }
        }
    }
}
