/* HEADER */

header {
    background-image: url(../images/template/handmade-paper.png);
    background-color: $c10;
    border-bottom: 8px solid $mainbg;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-blend-mode: multiply;
    display: flex;
    justify-content: space-between;
    @include ten_24 {
        flex-direction: column;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom: 4px solid $mainbg;
    }
    > a {
        padding: 0 10%;
        @include ten_24 {
            padding: 0;
        }
        div {
            width: 123px;
            height: 75px;
            background-image: url(../images/template/textonly.svg);
            background-position: center;
            background-repeat: no-repeat;
            @include ten_24 {
                margin-left: 2.5%;
                height: 50px;
                background-position: center left;
                position: absolute;
                background-size: 70%;
                z-index: 0;
            }
        }
    }
    button {
        height: 0;
        width: 0;
        padding: 0;
        border: none;
        overflow: hidden;
        @include ten_24 {
            background-image: url(../images/template/menu.png);
            width: 40px;
            height: 40px;
            background-color: transparent;
            cursor: pointer;
            outline: none;
            position: relative;
            z-index: 1;
            margin: 5px auto;
        }
    }
    .disp {
        @include ten_24 {
            height: 0;
            width: 0;
            overflow: hidden;
        }
    }
    nav {
        width: 100%;
        ul {
            margin: 0;
            padding: 0;
            letter-spacing: 0.75px;
            display: flex;
            flex-wrap: wrap;
            li {
                list-style-type: none;
                width: 25%;
                @include ten_24 {
                    width: 50%;
                }
                a {
                    display: flex;
                    justify-content: space-between;
                    padding: 5%;
                    text-decoration: none;
                    box-sizing: border-box;
                    height: 75px;
                    color: $Acolor;
                    border-left: 4px solid $Acolor;
                    position: relative;
                    @include ten_24 {
                        border-top: 1px solid $Acolor;
                        border-right: 1px solid $Acolor;
                        border-left: 1px solid $Acolor;
                    }
                    &:hover::after,
                    &:focus::after {
                        width: 100%;
                    }
                    &:hover,
                    &:focus {
                        color: $aHover;
                        @include ten_24 {
                            color: $c4;
                        }
                    }
                    span {
                        align-self: flex-end;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        top: 95%;
                        right: 0;
                        bottom: 2.5%;
                        left: 0;
                        background-color: $aHover;
                        @include ten_24 {
                            background-color: $c4;
                        }
                        width: 0;
                        transition: width 1s;
                        z-index: 999;
                    }
                }
            }
        }
    }
}
