/* HEADER */

header {
    background-image: url(../images/template/handmade-paper.png);
    background-color: $c10;
    border-bottom: 8px solid $mainbg;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-blend-mode: multiply;
    display: flex;
    @include ten_24 {
        flex-direction: column;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom: 4px solid $mainbg;
        padding: 5px 0;
        z-index: 999;
    }
    > span {
        display: block;
        margin: auto;
        width: 123px;
        height: 75px;
        margin-left: 10%;
        background-image: url(../images/template/textonly.svg);
        @include ten_24 {
            margin-left: 2.5%;
            height: 40px;
            background-position: center left;
            position: absolute;
            background-size: 70%;
            background-repeat: no-repeat;
        }
    }
    button {
        height: 0;
        width: 0;
        padding: 0;
        border: none;
        overflow: hidden;
        @include ten_24 {
            background-image: url(../images/template/menu.png);
            width: 40px;
            height: 40px;
            background-color: transparent;
            margin: auto;
            cursor: pointer;
            outline: none;
        }
    }
    .disp {
        @include ten_24 {
            height: 0;
            width: 0;
            overflow: hidden;
        }
    }
}

nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: calc(95% - 260px);
    @include ten_24 {
        width: 100%;
    }
    ul {
        padding: 2% 0 0 0;
        margin: 0;
        width: 85%;
        text-align: center;
        @include ten_24 {
            width: 100%;
            padding: 0;
        }
        .button {
            width: 17%;
            cursor: pointer;
            display: inline-block;
            color: $Acolor;
            @include ten_24 {
                min-width: 97px;
                width: 31%;
                margin: 8px 4%;
                font-size: small;
                border-radius: 25px;
                background-color: rgba($heading2,0.9);
                background-blend-mode: darken;
                background-image: url(../images/template/natural-paper.png);
                color: $c5;
            }
            .label {
                display: inline-block;
                padding: 10px;
                @include ten_24 {
                    padding: 5px;
                }
            }
            h1 {
                font-size: inherit;
                margin: 0;
                padding: 0;
                font-weight: 500;
            }
        }
    }
    a {
        text-decoration: none;
    }
}
