/* MAIN */

main {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-bottom: 27.5%;
    @include four_80 {
        padding-bottom: 34%;
    }
    &::after {
        content: "";
        background-image: url(../images/template/paper-fibers.png);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        position: absolute;
        z-index: -999;
        background-color: $main;
        background-blend-mode: color;
        @include ten_24 {
            background-image: url(../images/template/handmade-paper.png);
        }
    }
}

.main-logo {
    position: relative;
    margin: 9% auto 3% 55.5%;
    width: 44.5%;
    @include ten_24 {
        margin: 6%;
        width: fit-content;
    }
    #my-svg {
        display: inline-block;
    }
    #my-svg,
    span svg {
        width: 90px;
        height: 90px;
        @include ten_24 {
            width: 55px;
            height: 55px;
        }
    }
    h2 {
        font-style: oblique;
        margin: auto auto auto 2.5%;
        position: absolute;
        text-shadow: 0 0 2.5px $c1;
        display: inline;
        color: $heading2;
        font-size: 1.8em;
        @include ten_24 {
            display: none;
        }
    }
    .main-logo-span {
        position: absolute;
        height: 9px;
        width: 205px;
        bottom: 45px;
        left: 100px;
        background-image: url(../images/template/logo-main-underline.png);
        @include ten_24 {
            display: none;
        }
    }
}

.template-img-cont {
    width: calc(992px - 73.991%);
    height: 250px;
    margin-left: calc(987px - 95%);
    border: 5px solid $c2;
    padding: 5%;
    float: left;
    @include ten_24 {
        float: none;
        margin: auto auto 5% auto;
        width: 168px;
        border: none;
        padding: 0;
    }
}

.template-p-cont {
    height: 280px;
    width: calc(992px - 46.026%);
    float: right;
    margin: 4% calc(987px - 95%) 0 0;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    background-image: url(../images/template/natural-paper.png);
    background-color: $c2;
    @include ten_24 {
        width: 100%;
        height: 160px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        margin: auto;
        border-top: 3px solid $c4;
        position: relative;
    }
    p.cont {
        margin: unset;
    }
    .template-p {
        height: 50%;
        margin: 13% 0;
        padding: 0 40px;
        color: $c3;
        text-align: right;
        font-size: large;
        word-wrap: break-word;
        overflow: hidden;
        @include ten_24 {
            text-align: center;
            height: calc(100% - 40px);
            margin: 10px auto;
            padding: 10px 5% 10px 5%;
            font-size: initial;
        }
    }
}

.template-div {
    background-image: url(../images/template/div1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 7.5% auto;
    width: 90.021%;
    height: 109px;
    @include ten_24 {
        position: relative;
        margin: 12.5% auto;
    }
}
