#contact-template-img {
  background-image: url(../images/contact/contact.png);
}

#overlay {
  text-align: initial;
  @include nine_92 {
    padding: 0 20px;
    margin: 0 7px;
  }
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: $c3;
    padding-bottom: 40px;
    h3 {
      font-size: inherit;
      width: 100%;
      font-weight: normal;
      margin: 0 0 25px 0;
    }
    label {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 80px;
      margin: 0 0 40px 0;
    }
    label:nth-child(2),
    label:nth-child(3) {
      width: 48%;
      @include nine_92 {
        width: 100%;
      }
    }
    label:nth-child(5) {
      height: 133px;
    }
    input {
      width: 100%;
      font-style: inherit;
      box-sizing: border-box;
      padding: 2px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 5px;
      font: inherit;
      color: inherit;
      background-color: transparent;
      border: 1px solid $c3;
      outline: none;
      -webkit-appearance: none;
      -webkit-border-radius: 0px;
      &::placeholder {
        color: $c3;
      }
    }
    textarea {
      line-height: 1;
    }
    .os-host-textarea {
      width: 100%;
      box-sizing: border-box;
      border: 1px solid $c3;
      border-bottom-right-radius: 5px;
      height: 74px;
      -webkit-appearance: none;
      -webkit-border-radius: 0px;
    }
    #sent {
      text-align: center;
      height: 23px;
      display: none;
      margin: 0 auto;
    }
    #sub {
      width: fit-content;
      cursor: pointer;
      display: block;
      margin: auto;
      padding: 0 10px;
      color: $c8;
      border-radius: 10px;
    }
    .red {
      border-color: $c7;
    }
    .msg {
      color: $c7;
      font-size: 0.75rem;
      padding-left: 2.5px;
      display: block;
    }
  }
}

.slider {
  height: 100%;
  width: 90%;
  margin: auto;
  position: relative;
  display: flex;
  z-index: -1;
  align-items: center;
  transition: opacity 0.5s linear;
  opacity: 0;
  .a {
    border-radius: 100%;
    background-size: cover;
    padding: 75px 75px;
    transition: opacity 0.5s;
    will-change: opacity;
    opacity: 1;
  }
  .button-next {
    position: absolute;
    background-color: transparent;
    outline: none;
    border: none;
    top: 7.5%;
    color: $c2;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    padding: clamp(6px, 3%, 10px);
    opacity: 1;
    transition: opacity 0.2s ease;
    &:hover {
      @include nine_92_min {
        opacity: 0.5;
      }
    }
  }
  .open-left {
    background-image: url(../images/contact/left.png);
    left: 2%;
  }
  .open-right {
    background-image: url(../images/contact/right.png);
    right: 2%;
  }
  .image-fill-right {
    position: relative;
    margin: auto 12.5% auto 12.5%;
    padding: 14%;
    height: initial;
    left: 0;
    z-index: 0;
    @include nine_92_min {
      position: absolute;
      margin: initial;
      padding: 75px 75px;
    }
  }
  .image-1 {
    z-index: 0;
    position: relative;
    display: none;
    @include nine_92_min {
      display: block;
    }
  }
  .image-fill-left {
    right: 0;
    z-index: 0;
    position: absolute;
    display: none;
    @include nine_92_min {
      display: block;
    }
  }
  .image-2 {
    right: 0;
    z-index: 0;
    position: absolute;
    display: none;
    @include nine_92_min {
      display: block;
    }
  }
  .inner {
    margin: auto;
    width: 50%;
    transition: opacity 0.75s;
    will-change: opacity;
    opacity: 1;
    @include nine_92_min {
      width: 100%;
      margin: auto auto auto 2%;
    }
    a {
      transition: color 0.2s ease;
      color: $c1;
      text-decoration: none;
      &:hover,
      &:focus {
        color: $c4;
      }
    }
  }
  .static-count {
    display: none;
  }
}

.percentage {
  height: 2px;
  position: relative;
  width: 90%;
  margin: 2% auto;
  transition: opacity 0.5s linear;
  opacity: 0;
  background-color: $c4;
  overflow: hidden;
  .percentage-change {
    position: absolute;
    height: 2px;
    left: 0;
    background-color: $c1;
  }
}
