#contact-template-img {
  background-image: url(../images/contact/contact.png);
}

#overlay {
  text-align: initial;
  form {
    color: $c3;
    .os-host-textarea {
      font: inherit;
      margin: 5px 0 0 0;
      font-size: inherit;
      border: 1px solid $c3;
      border-bottom-right-radius: 5px;
    }
    fieldset {
      border: none;
      padding: 0;
      margin: 0;
      @include nine_92 {
        padding: 0 5%;
      }
      legend {
        padding: 0;
        margin: 0 0 25px 0;
      }
      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        li {
          margin: auto;
          width: 100%;
          padding-bottom: 50px;
          &:nth-child(1) {
            padding-right: 2%;
            @include nine_92 {
              padding-right: initial;
            }
          }
          &:nth-child(1),
          &:nth-child(2) {
            width: 49%;
            display: inline-block;
            @include nine_92 {
              width: 100%;
            }
          }
        }
      }
      label {
        height: 50px;
        display: block;
      }
    }
    input {
      width: 100%;
      font-style: inherit;
      padding: 0 0 2px 1px;
      margin: 5px 0 0 0;
      border-bottom-right-radius: 5px;
      font: inherit;
      color: inherit;
      background-color: transparent;
      border: 1px solid $c3;
      outline: none;
      &::placeholder {
        color: $c3;
      }
    }
    #sent {
      text-align: center;
      height: 23px;
      display: none;
      margin: 0 auto;
    }
    #sub {
      width: auto;
      display: block;
      margin: auto;
      padding: 0 10px;
      color: $c8;
      border-radius: 10px;
    }
    .red {
      border-color: $c7;
    }
    .msg {
      color: $c7;
      font-size: 0.75rem;
      padding-left: 2.5px;
      display: block;
    }
  }
}

.slider {
  height: 100%;
  width: 90%;
  margin: auto;
  position: relative;
  display: flex;
  z-index: -1;
  align-items: center;
  transition: opacity 0.75s linear;
  opacity: 0;
  .a {
    border-radius: 100%;
    background-size: cover;
    padding: 75px 75px;
  }
  .button-next {
    position: absolute;
    background-color: transparent;
    outline: none;
    border: none;
    top: 7.5%;
    color: $c2;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    opacity: 1;
    transition: opacity 0.75s ease;
    &:hover {
      @include nine_92_min {
        opacity: 0.5;
      }
    }
  }
  .open-left {
    background-image: url(../images/contact/left.png);
    left: 2%;
  }
  .open-right {
    background-image: url(../images/contact/right.png);
    right: 2%;
  }
  .image-fill-right {
    z-index: 0;
    position: relative;
    margin: auto 12.5% auto 12.5%;
    padding: 15%;
    height: initial;
    @include nine_92_min {
      position: absolute;
      margin: initial;
      z-index: -1;
      opacity: 0;
      padding: 75px 75px;
    }
  }
  .image-1 {
    z-index: 0;
    position: relative;
    display: none;
    @include nine_92_min {
      display: block;
    }
  }
  .image-fill-left {
    right: 0;
    z-index: -1;
    opacity: 0;
    position: absolute;
    display: none;
    @include nine_92_min {
      display: block;
    }
  }
  .image-2 {
    right: 0;
    z-index: 0;
    position: absolute;
    display: none;
    @include nine_92_min {
      display: block;
    }
  }
  .inner {
    margin: auto;
    width: 50%;
    @include nine_92_min {
      width: 100%;
      margin: auto auto auto 2%;
    }
    a {
      color: $c1;
      text-decoration: none;
      &:hover,
      &:focus {
        color: $c4;
      }
    }
  }
  .static-count {
    display: none;
  }
}

.percentage {
  height: 2px;
  position: relative;
  width: 90%;
  margin: 2% auto;
  transition: opacity 0.75s linear;
  opacity: 0;
  background-color: $c4;
  .percentage-change {
    position: absolute;
    height: 2px;
    left: 0;
    background-color: $c1;
  }
}
