#contact-template-img {
  background-image: url(../images/contact/contact.png);
}

#overlay {
  text-align: initial;
  @include ten_24_max {
    padding: 0 20px;
    margin: 0 7px;
  }
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: $c3;
    padding-bottom: 40px;
    h3 {
      font-size: inherit;
      width: 100%;
      font-weight: normal;
      margin: 0 0 25px 0;
    }
    label {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      height: 80px;
      margin: 0 0 40px 0;
    }
    label:nth-child(2),
    label:nth-child(3) {
      width: 48%;
      @include ten_24_max {
        width: 100%;
      }
    }
    label:nth-child(5) {
      height: 133px;
    }
    input {
      width: 100%;
      font-style: inherit;
      box-sizing: border-box;
      padding: 2px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 5px;
      font: inherit;
      color: inherit;
      background-color: transparent;
      border: 1px solid $c3;
      outline: none;

      &::placeholder {
        color: $c3;
      }
    }
    textarea {
      line-height: 1;
    }
    .os-host-textarea {
      width: 100%;
      box-sizing: border-box;
      border: 1px solid $c3;
      border-bottom-right-radius: 5px;
      height: 74px;
      padding: 4px;
    }
    #sent {
      text-align: center;
      height: 23px;
      display: none;
      margin: 0 auto;
    }
    #sub {
      width: fit-content;
      cursor: pointer;
      display: block;
      margin: auto;
      padding: 0 10px;
      color: $c8;
      border-radius: 10px;
    }
    .red {
      border-color: $c7;
    }
    .msg {
      color: $c7;
      font-size: 0.75rem;
      padding-left: 2.5px;
      display: block;
    }
  }
  input,
  input[type="text"],
  input[type="email"],
  input[type="tel"] {
    -webkit-appearance: none;
    appearance: none;
  }
}

.slider {
  height: 100%;
  width: 90%;
  margin: auto;
  position: relative;
  display: flex;
  z-index: -1;
  align-items: center;
  transition: opacity 0.5s linear;
  opacity: 0;
  .a {
    border-radius: 100%;
    background-size: cover;
    transition: opacity 0.5s;
    will-change: opacity;
    opacity: 1;
    padding: 8.5%;
  }
  .image-fill-right {
    position: absolute;
    left: 0;
  }
  .image-1 {
    position: relative;
    transition: opacity 0.375s ease-in;
    will-change: opacity;
    opacity: 1;
  }
  .image-fill-left {
    right: 0;
    position: absolute;
  }
  .image-2 {
    right: 0;
    position: absolute;
    transition: opacity 0.375s ease-in;
    will-change: opacity;
    opacity: 1;
  }
  .inner {
    margin: auto auto auto 4%;
    width: 50%;
    transition: opacity 0.375s ease-in, color 0.2s ease;;
    will-change: opacity;
    font-size: clamp(12px, 3.5vw, 16px);
    a {
      transition: color 0.2s ease;
      color: darken($main, 7.5%);
      text-decoration: none;
      &:hover,
      &:focus {
        color: $c3;
      }
    }
  }
  .static-count {
    display: none;
  }
}

.button-container {
  display: flex;
  justify-content: space-between;
  transition: opacity 0.5s linear;
  will-change: opacity;
  opacity: 0;
  .button-next {
    border: none;
    background-color: transparent;
    color: darken($main, 7.5%);
    cursor: pointer;
    padding: clamp(4px, 1.5vw, 10px);
    font-size: clamp(12px, 5vw, 25px);
    opacity: 1;
    transition: opacity 0.2s ease;
    &:hover {
      opacity: 0.5;
      @include seven_20_portrait {
        opacity: 1;
      }
    }
  }
  .open-left {
    margin: 2.5% 0 0 4%;
  }
  .open-right {
    margin: 2.5% 4% 0 0;
  }
}

.percentage {
  height: 2px;
  position: relative;
  width: 90%;
  margin: 2% auto;
  transition: opacity 0.5s linear;
  will-change: opacity;
  opacity: 0;
  background-color: $main;
  overflow: hidden;
  .percentage-change {
    position: absolute;
    height: 2px;
    left: 0;
    background-color: darken($main, 15%);
  }
}
