#sites-template-img {
  background-image: url(../images/sites/site.png);
}

/* Scroll */

#site {
  position: relative;
  #site-img {
    display: none;
    @include nine_92 {
      display: block;
    }
  }
  .slider_5-list-container {
    position: relative;
    width: 95%;
    height: min(40vh, 250px);
    background-image: url(../images/template/natural-paper.png);
    background-color: $c2;
    background-blend-mode: darken;
    overflow: hidden;
    border-top: 3px solid $c4;
    border-bottom: 3px solid $c4;
    @include nine_92_min {
      border: none;
      height: 37vh;
      max-height: 350px;
      min-height: 205px;
      width: calc(80% - 290px);
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
  }
  .slider_5-scroll {
    height: calc(min(40vh, 250px) - 40px);
    margin: 20px 0;
    @include nine_92_min {
      height: calc(37vh - 40px);
      max-height: 310px;
      min-height: 165px;
    }
  }
  .slider_5-list {
    margin: 0;
    padding: 0 20px;
    list-style-type: none;
    color: $c3;
    width: 90%;
    word-wrap: break-word;
    font-size: medium;
    @include nine_92_min {
      padding: 0 7px 0 40px;
      font-size: large;
    }
    li img {
      display: block;
      margin: 40px 0 min(10.5vh, 100px) 0;
      width: 10.5vh;
      height: 10.5vh;
      min-width: 50px;
      min-height: 50px;
      max-width: 100px;
      max-height: 100px;
      @include nine_92_min {
        margin: 40px 0 min(10.5vh, 100px) 4%;
      }
    }
    ol li {
      h3 {
        padding: 40px 0 7px 0;
        margin: 0;
        font-weight: normal;
        a {
          color: $heading2;
          text-decoration: none;
          font-size: inherit;
          transition: text-decoration-color 0.2s ease;
          text-decoration: underline;
          text-decoration-color: transparent;
          &:hover,
          &:focus {
            text-decoration-color: $heading2;
          }
        }
      }
      &:last-child {
        min-height: calc(45vh - 40px);
      }
    }
  }
  .slider_5-site-container {
    background-image: url(../images/template/natural-paper.png);
    background-color: $c2;
    background-blend-mode: darken;
    height: 50vh;
    width: 95%;
    position: relative;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-sizing: border-box;
    @include nine_92_min {
      height: 37vh;
      max-height: 350px;
      min-height: 205px;
      width: 290px;
      padding: 30px;
      border-bottom-left-radius: 0;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
    }
  }
  .slider_5-site {
    height: 0;
    width: 0;
    opacity: 0;
    transition: opacity 0.375s;
    will-change: opacity;
    overflow: hidden;
    img {
      object-position: center;
      object-fit: contain;
      height: 100%;
      width: 100%;
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
      @include nine_92_min {
        border-radius: 0;
      }
    }
    a {
      font-size: smaller;
      bottom: 0;
      padding: 3px 6px 3px 25px;
      left: 0;
      color: $c5;
      position: absolute;
      width: 0;
      height: 0;
      overflow: hidden;
      background-image: url(../images/template/natural-paper.png);
      background-color: $c2;
      background-blend-mode: darken;
      border-bottom-left-radius: 25px;
      @include nine_92_min {
        padding: 0;
        top: 6.25px;
        left: 25px;
        font-size: 12.5px;
        bottom: initial;
        font-size: small;
        text-decoration: underline;
        border-bottom-left-radius: initial;
      }
      &:hover {
        color: $c5;
        text-decoration: none;
      }
    }
  }
  .d-has-display {
    height: 100%;
    width: 100%;
    opacity: 1;
    a {
      width: initial;
      height: initial;
    }
  }
  .slider_5-close {
    position: absolute;
    font-size: 17px;
    right: 25px;
    bottom: 3px;
    opacity: 1;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
    color: $c5;
    @include nine_92_min {
      top: 7.5px;
      right: 10px;
      bottom: initial;
      border-radius: 100%;
      border: 1px solid;
      padding: 4px 5px;
      font-size: 10px;
      line-height: 10px;
      opacity: 0.125;
    }
  }
}
