#sites-template-img {
  background-image: url(../images/sites/site.png);
}

/* Scroll */

#site {
  position: relative;
  #site-img {
    display: none;
    @include ten_24_max {
      display: block;
    }
  }
  .slider_5-list-container {
    width: 95%;
    height: min(40vh, 250px);
    background-image: url(../images/template/natural-paper.png);
    background-color: $c2;
    background-blend-mode: darken;
    border-top: 3px solid $mainbg;
    border-bottom: 3px solid $mainbg;
    @include ten_25_min {
      border: none;
      height: clamp(205px, 40vh, 430px);
      width: calc(87.5% - 380px);
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      position: relative;
    }
  }
  .slider_5-scroll {
    position: relative;
    height: calc(min(40vh, 250px) - 20px);
    margin: 10px 0;
    @include ten_25_min {
      margin: 30px 0;
      height: calc(clamp(205px, 40vh, 430px) - 60px);
      width: calc(100% + 380px);
      position: absolute;
      z-index: 1;
    }
  }
  .slider_5-list {
    color: $c3;
    margin: 0;
    padding: 0 20px;
    list-style-type: none;
    word-wrap: break-word;
    font-size: medium;
    @include ten_25_min {
      padding: 0 7px 0 40px;
      font-size: large;
      width: calc(100% - 380px);
    }
    li img {
      display: block;
      margin: clamp(15px, 4.75vh, 40px) 0 clamp(0px, 10.5vh, 100px) 0;
      width: clamp(50px, 10.5vh, 75px);
      height: clamp(50px, 10.5vh, 75px);
      @include ten_25_min {
        margin: 40px 0 clamp(0px, 15vh, 155px) 4%;
        width: clamp(50px, 10.5vh, 100px);
        height: clamp(50px, 10.5vh, 100px);
      }
    }
    ol {
      padding-left: 10px;
      li {
        h3 {
          padding: 40px 0 7px 0;
          margin: 0;
          font-weight: normal;
          font-size: large;
          @include ten_25_min {
            font-size: larger;
          }
          a {
            color: $heading2;
            text-decoration: none;
            transition: text-decoration-color 0.2s ease;
            text-decoration: underline;
            text-decoration-color: transparent;
            &:hover,
            &:focus {
              text-decoration-color: $heading2;
            }
          }
        }
        &:last-child {
          min-height: calc(45vh - 40px);
        }
      }
    }
  }
  .slider_5-site-container {
    background-image: url(../images/template/natural-paper.png);
    background-color: $c2;
    background-blend-mode: darken;
    width: 95%;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    box-sizing: border-box;
    position: relative;
    @include ten_25_min {
      height: clamp(205px, 40vh, 430px);
      width: 380px;
      padding: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 25px;
      border-bottom-right-radius: 25px;
      display: flex;
      align-items: flex-start;
      box-sizing: border-box;
    }
  }
  .slider_5-site {
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.375s;
    will-change: opacity;
    position: relative;
    box-sizing: border-box;
    img {
      object-position: center;
      object-fit: contain;
      width: 100%;
      height: 100%;
      border-bottom-left-radius: 25px;
      border-bottom-right-radius: 25px;
      @include ten_25_min {
        border-radius: 0;
        object-position: right;
      }
    }
    a {
      font-size: medium;
      bottom: 0;
      padding: 3px 25px 3px 25px;
      left: 0;
      color: $c5;
      position: absolute;
      border-bottom-left-radius: 25px;
      background-image: url(../images/template/natural-paper.png);
      background-color: $c2;
      background-blend-mode: darken;
      @include ten_25_min {
        background-image: initial;
        background-color: transparent;
        background-blend-mode: initial;
        padding: 0;
        right: 0;
        bottom: 8px;
        font-size: 12.5px;
        font-size: small;
        text-decoration: underline;
        border-bottom-left-radius: initial;
        text-align: right;
      }
      &:hover {
        color: $c5;
        text-decoration: none;
      }
    }
  }

  .d-has-display {
    height: 100%;
    width: 100%;
    opacity: 1;
    display: flex;
    max-height: 50vh;
    @include seven_20_portrait {
      max-height: initial;
    }
    @include ten_25_min {
      padding: 35px 0;
      justify-content: center;
    }
  }

  .slider_5-close {
    position: absolute;
    font-size: medium;
    right: 0;
    bottom: 0;
    opacity: 1;
    cursor: pointer;
    background: transparent;
    outline: none;
    border: none;
    color: $c5;
    background-image: url(../images/template/natural-paper.png);
    background-color: $c2;
    background-blend-mode: darken;
    border-bottom-right-radius: 25px;
    height: 25px;
    width: 25px;
    font-size: 12.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    @include ten_25_min {
      background-image: initial;
      background-color: transparent;
      background-blend-mode: initial;
      border-bottom-right-radius: initial;
      text-align: initial;
      height: initial;
      width: initial;
      opacity: 0.125;
      top: 8px;
      right: 11px;
      bottom: initial;
      border-radius: 100%;
      border: 1px solid;
      padding: 4px 5px;
      position: relative;
      font-size: 10px;
      line-height: 10px;
    }
  }
}
