$imgSkills: (
  "sass",
  "htmlcssjs",
  "boot",
  "foundation",
  "react",
  "angular",
  "ux",
  "photoshop",
  "xd",
  "oop",
  "mvc",
  "nodejs",
  "php",
  "apache",
  "nginx",
  "xml",
  "ubuntu",
  "silverstripe",
  "wordpress",
  "cakephp",
  "cloud",
  "sql",
  "mongo",
  "git"
);

@each $i in $imgSkills {
  #skills-#{$i} {
    background-image: url("../images/skills/#{$i}.png");
    background-size: contain;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    padding: 35px;
  }
}

#skills-template-img {
  background-image: url(../images/skills/skills.png);
}

a[target="git"] {
  margin: 2.5% 50% 0 5%;
  opacity: 0;
  transition: opacity 0.2s linear, color 0.2s ease;
  z-index: -1;
  color: $c1;
  text-decoration: none;
  &:hover,
  &:focus {
    color: $c4;
  }
}

.img {
  margin: 35px 10px;
}
