@font-face {
    font-family: Poppins-Regular;
    src: url(../fonts/Poppins-Regular.ttf);
    font-display: swap;
}

$font: Poppins-Regular;
$main: #94b8b8;
$mainbg: rgba(245, 245, 245, 0.875);

$c1: #eeffed;
$c2: rgba(245, 245, 245, 0.875);
$c3: #2e86ab;
$c4: #f07f31;
$c5: black;
$c6: #adfabd;
$c7: #d81159;
$c8: #24b14d;
$c9: slategrey;
$c10: darkslategrey;
$c11: rgba($c10, 0.1);

$heading1: rgb(245, 245, 245);
$heading2: $c8;

$tempBoarder: rgba($main, 0.4);

$Acolor: rgb(245, 245, 245);
$aHover: $c3;
