@font-face {
    font-family: Poppins-Regular;
    src: url(../fonts/Poppins-Regular.ttf);
    font-display: swap;
}

$font: Poppins-Regular;
$main: #94b8b8;
$mainbg: rgba(245, 252, 252, 0.875);

$c1: #EEFFED;
$c2: #f5f5f5;
$c3: #2E86AB;
$c4: #F07F31;
$c5: black;
$c6:#adfabd;
$c7: #D81159;
$c8: #24b14d;
$c9: slategrey;
$c10: darkslategrey;
$c11: rgba($c10,0.1);

$heading1: $c2;
$heading2: $c8;

$tempBoarder: rgba($main, 0.4);

$Acolor: $c2;
$aHover: $c3;
